[2016-05-16 14:29] magnificode opened #1 "Consider utilizing a SASS map for variables"
Since we have a very very hefty variables partial, it may be beneficial organization-wise to utilize SASS maps in some areas, with an accompanying function to pluck values from that map (See http://codepen.io/jakealbaugh/post/using-sass-functions-to-access-complex-variable-maps for a great explanation on how to accomplish this.)

In areas like https://github.com/JDRF/design-system/blob/master/src/

[2016-05-16 14:43] magnificode opened #2 "Consider utilizing SVG sprites instead of icon fonts."
I think we could benefit a bit from a performance standpoint if instead of utilizing icon-fonts for buttons with icons next to them. Currently it looks like there's only a couple button variations, and a full HTTP request for a new font may be a bit excessive if we can utilize an SVG sprite.

If however we are only planning on ever using the Google Material Icons next to buttons, it's entirely pos

[2016-05-16 14:58] magnificode opened #3 "Rename _type.scss to _typography.scss"
Just so that it matches the title of the section it references.

[2016-05-16 16:22] magnificode opened #4 "Appears to be an extra ampersand."
Ticky tacky little thing, is this intended to be here?

https://github.com/JDRF/design-system/blob/master/src/scss/_buttons.scss#L16

[2016-05-16 16:32] magnificode opened #5 "Empty mixin and scss files"
This totally may just be my ignorance to the design system, but is there a purpose for the empty files that are importing themselves? Is this just to identify components that will be built out in the future, or a reference to the bootstrap implementation of these components?

e.g: https://github.com/JDRF/design-system/blob/master/src/scss/_grid.scss
https://github.com/JDRF/design-system/blob/maste

[2016-05-16 17:21] magnificode opened #6 "Remove (presumably) unused bootstrap classes"
In the compiled css, there are about 1600 references to .mi- prefixed classes. This class doesn't seem to appear anywhere in the source other than the compiled CSS.

Any chance we could track this down and prevent it from being compiled into the stylesheet?

Start: https://github.com/JDRF/design-system/blob/master/dist/css/design-system.css#L1
End: https://github.com/JDRF/design-system/blob/master

[2016-05-16 17:46] magnificode commented on #6
This extends to the `.col` classes as well:

Start: https://github.com/JDRF/design-system/blob/master/dist/css/design-system.css#L3145
End: https://github.com/JDRF/design-system/blob/master/dist/css/design-system.css#L3728

[2016-05-16 17:49] magnificode opened #7 "Ensure declaration ordering follows best practices."
Just an organizational piece, especially on lengthier classes (i.e https://github.com/JDRF/design-system/blob/master/src/scss/_buttons.scss#L3) it would be helpful to either alphabetize the declarations or order them by type (Positioning, Box model, Typography, Visual).

https://10up.github.io/Engineering-Best-Practices/css/#declaration-ordering

[2016-05-16 18:05] RachelRVasquez commented on #6
The `.mi-` classes are from the material icons styles. We're not using all of the icons on the DS itself although for a JDRF site, they may be using them. Since the DS is meant as a visual guide, I agree it'd make sense to remove what we don't need. May need to brainstorm a bit with @fuhton though about approaching it since we're currently copying over the material icons from node_modules and then

[2016-05-16 18:06] RachelRVasquez commented on #6
The `col` classes are being pulled from Bootstrap. We are making use of the grid but only in the examples on the gh-pages branch.

[2016-05-16 18:13] RachelRVasquez commented on #3
The files are named after their Bootstrap V4 counterparts that we're overwriting so we can easily reference them in the future. While changing the name from _type to _typography is a small change, I'd like to keep the structure/naming matching Bootstrap's so we can visually see the relationship between the two during the overwriting process.

The only files that don't follow this naming convention

[2016-05-16 18:13] magnificode commented on #6
Ah, I see now, it's Monday, and when I view-source'd the site I looked for .col :facepalm:

As far as the `.mi` bit, this may be a bit heavy handed but I know there are some node modules that can run through your compiled CSS and remove unused classes (https://github.com/ben-eb/gulp-uncss)

Perhaps this issue will be solved inherently if we implement a fix for #2. Utilizing SVG instead of the icon

[2016-05-16 18:15] magnificode commented on #3
Makes total sense 👍  thanks!

[2016-05-16 18:15] #3 closed

[2016-05-16 18:22] RachelRVasquez commented on #5
We will need form elements for a related project but are waiting on designs before we implement them.

As for the other files, we're only importing the parts of Bootstrap that we need for the DS using those empty files and `@import`, and those empty files are there for our overwrites as well.

[2016-05-17 19:08] RachelRVasquez commented on #4
I'll make a note to remove this. Nice catch.

[2016-05-19 23:32] RachelRVasquez commented on #4
The ampersand has been removed.

[2016-05-19 23:32] #4 closed

[2016-05-19 23:35] RachelRVasquez commented on #6
After discussing further with @fuhton, we decided that we'd need the entire grid as well as all material icons. The final design system file is meant for JDRF's vendors to grab and use in their projects so it needs to have all the custom/Bootstrap components listed on the demo (gh-pages).

[2016-05-19 23:35] #6 closed

[2016-05-19 23:36] #5 closed

[2016-05-20 15:44] RachelRVasquez commented on #7
Re-organized the styles on master. Let me know if you see anything else @magnificode. Thanks.

https://github.com/JDRF/design-system/commit/0f2c6f5d0490f4e26f0017eb9ed0090c73786a97

[2016-05-23 17:16] magnificode commented on #7
Looks great, thanks!!

[2016-05-23 17:16] #7 closed

[2016-05-23 19:47] RachelRVasquez commented on #1
@magnificode

I gave this a try locally and realized some of the obstacles we'll have if we went down this route.

The sass map variables work only for files where we're both overwriting the variables as well as the styles - as in they're disconnected from their Bootstrap imports. For components we haven't disconnected or variables we aren't overwriting, in order to pursue this path, we'd have to

[2016-05-23 19:47] #1 closed

[2016-05-23 22:32] magnificode commented on #1
@RachelRVasquez totally understandable, thanks a bunch for the explanation!

[2016-05-25 14:01] fuhton commented on #2
Since the expectation is that we will always be using Material Icons, I'm comfortable leaving the current implementation as is. In the future if we ever add in custom iconography, we'd definitely want to include them as SVG sprites to reduce load times and allow immediate access.

[2016-05-25 14:01] #2 closed

[2016-05-25 21:37] fuhton opened #9 "Issue with buttons"
On buttons, blank buttons, like outline and text, maintain their coloring after your mouse has left the hover area.

http://jdrf.github.io/design-system/dist/components.html#buttons

[2016-05-26 13:31] fuhton commented on #9
Closed - since this is part of Bootstrap functionality.

[2016-05-26 13:31] #9 closed

[2016-05-27 20:02] McCallumDillon opened #10 "All browsers (desktop/mobile) - Search 'active input' issue"
![searchinputissue](https://cloud.githubusercontent.com/assets/5239235/15619774/367a39b8-240b-11e6-86ed-0134a28ea06a.gif)

Showing strange blue box outside of search input field once you've entered text into the search. All browsers for mobile & desktop.

[2016-05-27 20:28] McCallumDillon opened #11 "All: Sidebar navigation 'current' page text should be blue (see img / comments)"
Our sidebar navigation 'current' page text should be blue per the Zeplin example.

See screenshot of "Zeplin" example on the left and "live site" on the right.

![sidebarnav](https://cloud.githubusercontent.com/assets/5239235/15620370/ae69918c-240e-11e6-9ac5-db7c81984415.jpg)

* Interestingly enough in the side by side comparison the "blue" color tone of the text 'appears' to be slightly different

[2016-05-27 20:33] McCallumDillon opened #12 "All: Left rail 'search form' improvements (see comments)"
-  styling to match Zeplin form styles found here : https://app.zeplin.io/project.html#pid=55a514081c757ce422fceb60&sid=573a1b648967de084209e491

- Currently the only way to 'search' is by pressing 'enter' - there is no search text or search icon to 'submit' the search. Ideally we'd place a search/submit icon inside the input field on the right.

[2016-05-27 20:45] McCallumDillon opened #13 "All: "Elevation" on Zeplin shows "flat". Github site doesn't."
the "flat" state is sort of assumed, but we do have it shown on Zeplin and it isn't reflected on the github site.

![screen shot 2016-05-27 at 1 42 12 pm](https://cloud.githubusercontent.com/assets/5239235/15620783/42f76110-2411-11e6-9e4b-7f7844dec4de.jpg) <-- zeplin: far left element is the "flat" state.

[2016-05-27 22:03] McCallumDillon opened #15 "ALL: Buttons (see comments / screenshot)"
I imagine our 'buttons' should have some rule around the margin surrounding the button.

See this screenshot :
![screen shot 2016-05-27 at 2 56 56 pm](https://cloud.githubusercontent.com/assets/5239235/15622189/7773a750-241b-11e6-88a8-4ea319bf0984.jpg)

Zeplin (on the left) has some horizontal left/right spacing- we may want something along these lines by default for our buttons. (screenshot shows

[2016-05-27 22:05] McCallumDillon opened #16 "H3.f-example-title to 'dark blue' (see comments)"
Lets change the .f-example-title h3s to be the dark blue (#002855) color to better emulate the title scheme of Zeplin. All of their element titles are in that dark blue instead of the black we have on ours.

[2016-05-27 22:10] McCallumDillon opened #17 "Section ".f-example" border width (very low priority)"
This is a super nit picky one.... (sorry)

To better reflect and emulate what we see in Zeplin lets change that 3px border on ".f-section .f-example" to 2px.  Zeplin actually shows "1px solid rgba(0, 0, 0, 0.12)" for that border, but this 'stands out' too much from the ' language-markup' below – so in retaining our #f7f7f7 color the 2px gets our border just a tad thinner for that modern / clean lo

[2016-05-27 22:12] McCallumDillon opened #18 "Buttons: Toggle Icon Bar & Radio Buttons are seen in Zeplin but missing from our github?"
As the title says it- in Zeplin we have "Toggle Icon Bar & Radio Buttons" listed as examples of which I don't see on our Github page? Is this intended or stuff we need to add?

[2016-05-27 22:22] McCallumDillon opened #19 "language-markup to include variable conventions?"
Looking threw some key components such as the "color" and "typography" sections I see things like suggested font-family example to be " font-family: "Gotham Light"; "   or   in the color section we show #hex values for colors.

Question: Should we include the recommend usage of $variables in that language markup instead or as well -- i.e.  "font-family: $font-light"   and   "color: $brand-primary"

[2016-05-28 02:08] fuhton commented on #18
These needed to be added. An oversight since they were added late.

[2016-05-29 20:56] RachelRVasquez commented on #13
For the flat state, visually in our DS where the background color is white, it didn't make sense to have a white square without any shadow. If we added it, we'd have to brainstorm how to visually display it so it's something we can see against the white background unless we changed the design of the elevations section. There was a similar issue in Typography to show white text colors against white

[2016-05-29 21:11] RachelRVasquez commented on #11
@fuhton

PR submitted for this fix: https://github.com/JDRF/design-system/pull/20

[2016-05-29 21:18] RachelRVasquez commented on #15
@fuhton

PR submitted for this issue:

https://github.com/JDRF/design-system/pull/21

[2016-05-30 01:05] RachelRVasquez commented on #16
I've made this change on a previous PR. It looks like I can't submit multiple PRs since I'm working directly on gh-pages. @fuhton Do we want to work on separate branches for the sake of PRs?

Here's where the change is: https://github.com/JDRF/design-system/pull/21

[2016-05-30 01:10] RachelRVasquez commented on #17
@fuhton
Change has been made to this PR: https://github.com/JDRF/design-system/pull/21

[2016-05-30 02:01] RachelRVasquez commented on #18
This task is in progress.

[2016-05-30 04:00] RachelRVasquez commented on #18
@fuhton Status update on this: Everything's mostly done on my end but we may need to hook up Bootstrap's JS for the toggle states. We can discuss Tuesday after the holiday. I'm also not sure how we want to approach the checkbox/radio button designs versus how they are by default. Here's how they are in Bootstrap: http://v4-alpha.getbootstrap.com/components/buttons/

Was thinking maybe swapping mat

[2016-05-31 13:41] fuhton commented on #11
Merged.

[2016-05-31 13:41] #11 closed

[2016-05-31 13:46] fuhton commented on #15
Merged.

[2016-05-31 13:46] fuhton commented on #16
Merged.

[2016-05-31 13:46] fuhton commented on #17
Merged.

[2016-05-31 14:39] RachelRVasquez commented on #18
@fuhton
Just submitted two PRs, one for master and one for gh-pages with only these changes.

https://github.com/JDRF/design-system/pull/22

https://github.com/JDRF/design-system/pull/23

[2016-05-31 14:49] RachelRVasquez commented on #15
@fuhton

Submitted a PR with this change only:

https://github.com/JDRF/design-system/pull/24

[2016-05-31 14:53] RachelRVasquez commented on #16
@fuhton

Created a separate PR for this change only:

https://github.com/JDRF/design-system/pull/25

[2016-05-31 14:58] fuhton commented on #18
Merged #23 Had a question on #22

[2016-05-31 14:58] fuhton commented on #15
Merged. Will review locally.

[2016-05-31 14:59] RachelRVasquez commented on #17
@fuhton

Created a PR with this separate change:

https://github.com/JDRF/design-system/pull/26

[2016-05-31 15:00] fuhton commented on #15
Looks good.

[2016-05-31 15:03] fuhton commented on #16
Merged and looks good.

[2016-05-31 15:03] #16 closed

[2016-05-31 15:13] fuhton commented on #17
Merged and confirmed.

[2016-05-31 15:13] #17 closed

[2016-05-31 15:19] #10 closed

[2016-05-31 15:24] fuhton commented on #19
@RachelRVasquez Let's discuss this and move forward with this suggestion.

[2016-05-31 16:07] RachelRVasquez commented on #18
@fuhton Noticing the vertical example includes dropdown buttons. Are we supporting those at this point in DS?

http://v4-alpha.getbootstrap.com/components/button-group/#vertical-variation

http://v4-alpha.getbootstrap.com/components/button-dropdown/

[2016-05-31 17:18] fuhton commented on #18
No we aren't. Not yet.

[2016-05-31 17:20] RachelRVasquez commented on #18
Ok will remove the dropdown from my examples then.

[2016-05-31 17:23] RachelRVasquez commented on #18
Removed dropdown example. Vertical button groups added with tests and html. Here are the PRs that need approval.

https://github.com/JDRF/design-system/pull/27

https://github.com/JDRF/design-system/pull/22

[2016-05-31 17:26] fuhton commented on #18
@RachelRVasquez Looks like all the CSS is working, but it's not retaining any click states? Is this because the JS isn't being included?

[2016-05-31 17:31] RachelRVasquez commented on #13
Submitted a PR with notes on the flat state, where it's applied and how to remove it.

https://github.com/JDRF/design-system/pull/28

[2016-05-31 17:35] RachelRVasquez commented on #18
@fuhton Yep - the JS adds the active class to the radio/checkbox buttons. The regular button groups don't appear to have JS to do this but I added the "active" class there for visual reference.

http://v4-alpha.getbootstrap.com/components/buttons/#checkbox-and-radio-buttons

[2016-05-31 17:44] fuhton commented on #18
I'll take this over to add the JS.

[2016-05-31 18:53] fuhton commented on #12
Styling will be left until the forms project is underway. Search is now disabled by default when selecting `enter` per #29

[2016-05-31 19:26] McCallumDillon commented on #15
buttons should be “gotham medium” font weight - on our stage we have them as “book” still

[2016-05-31 19:30] McCallumDillon commented on #15
Also just noticed that "button outlines" should have a 2px border instead of the current 1px.

![screen shot 2016-05-31 at 12 28 58 pm](https://cloud.githubusercontent.com/assets/5239235/15687795/6dbd2b10-272b-11e6-840e-27c26b936ac5.jpg)

[2016-05-31 19:41] McCallumDillon commented on #15
Our toggle segment/icon styling is off.

For theToggle Segment: Zeplin shows white bg, with green border color. "selected" state shows the green bg.
For the Toggle Icon Bar: Zeplin shows default state with the white bg. "selected" state shows the darker gray background.
![screen shot 2016-05-31 at 12 38 58 pm](https://cloud.githubusercontent.com/assets/5239235/15688026/eca00cc6-272c-11e6-81ff-e17e

[2016-05-31 19:43] fuhton commented on #15
Toggling isn't complete yet. I'll be adding the JS to make it work correctly in #18 .

@RachelRVasquez Let's address @McCallumDillon 's other two comments.

[2016-05-31 21:24] RachelRVasquez commented on #19
@fuhton Submitted PR for this change:

https://github.com/JDRF/design-system/pull/30

[2016-06-01 14:05] fuhton commented on #13
This as confirmed as updated.

[2016-06-01 14:05] #13 closed

[2016-06-01 14:10] fuhton commented on #12
This is closed now. The initial request is out of scope and the second has been addressed.

[2016-06-01 14:10] #12 closed

[2016-06-01 14:56] fuhton commented on #15
I'll be taking over all work regarding this ticket.

[2016-06-01 14:57] RachelRVasquez commented on #15
@McCallumDillon @fuhton

The styles should be correct on staging now - the PR just needed to be merged in.

https://github.com/JDRF/design-system/issues/15

[2016-06-01 14:59] RachelRVasquez commented on #15
@McCallumDillon Will create another PR for the border width on buttons.

[2016-06-01 15:05] fuhton commented on #19
Merged and looks correct.

[2016-06-01 15:05] #19 closed

[2016-06-01 15:25] fuhton opened #32 "Button Toggling"
Child of #15

Our toggle segment/icon styling is off.

For theToggle Segment: Zeplin shows white bg, with green border color. "selected" state shows the green bg.
For the Toggle Icon Bar: Zeplin shows default state with the white bg. "selected" state shows the darker gray background.
![screen shot 2016-05-31 at 12 38 58 pm](https://cloud.githubusercontent.com/assets/5239235/15688026/eca00cc6-272c-

[2016-06-01 15:26] #32 closed

[2016-06-01 15:26] fuhton commented on #18
Closing this since the components have been added. Will open a new ticket to add in the JS.

[2016-06-01 15:26] #18 closed

[2016-06-01 15:27] fuhton opened #33 "Toggling JS for buttons"
Child of #18

Add in the toggling JS for full functionality.

[2016-06-01 20:23] RachelRVasquez opened #34 "Add note about heading classes"
Add note about heading classes in use for Typography where headings are.

http://jdrf.github.io/design-system/dist/content.html#typography

[2016-06-01 20:44] fuhton opened #35 "Remove Documentation Link in the header"

[2016-06-01 20:44] fuhton opened #36 "Remove search bar"
This doesn't function 100% correctly.

[2016-06-01 20:45] fuhton opened #37 "Remove erroneous copy"
The subheadline for each page is pretty, um, obvious. "You are viewing the "FAQ" page." Recommend removing it or creating useful copy.

[2016-06-01 20:48] RachelRVasquez commented on #34
Created a PR: https://github.com/JDRF/design-system/pull/38

Looks like it counts me not committing compiled files as changes?

[2016-06-02 13:41] fuhton commented on #15
Outline is correct now. Toggling moved to a new ticket.

[2016-06-02 13:41] #15 closed

[2016-06-02 13:44] fuhton commented on #34
Compiled files were included in this PR. It was declined. Please re-submit without the compiled files.

[2016-06-02 13:44] fuhton commented on #33
PR's in #39 and #40

[2016-06-02 13:46] #33 closed

[2016-06-02 18:56] briansaycocie opened #41 "Fatal error after git clone and npm run pull"
When I clone the repo and run `npm run pull`, I get a fatal error after gulp runs in the master branch.

To reproduce:
1. git clone git@github.com:JDRF/design-system.git
2. cd design-system
3. npm run pull

Screenshot:
![screenshot 2016-06-02 13 53 56](https://cloud.githubusercontent.com/assets/1328262/15757059/7aa3ecd4-28c9-11e6-9579-4d231f5cb240.png)

npm-debug.log:
![screenshot 2016-06-02 13 55

[2016-06-02 19:00] briansaycocie opened #42 "Broken link on navigation"
The "Documentation" link in the navigation is broken, with a hash tag in the href attribute.
![screenshot 2016-06-02 13 59 14](https://cloud.githubusercontent.com/assets/1328262/15757265/58657268-28ca-11e6-91f3-9b7dd15454cb.png)

[2016-06-02 19:05] fuhton commented on #41
@briansaycocie What's your version of Node and NPM?

[2016-06-02 19:06] briansaycocie commented on #41
@fuhton node v5.5.0, npm v3.5.3

[2016-06-02 19:16] fuhton commented on #41
I'd suggest updating node, npm, and global gulp to the latest version and retest.

[2016-06-02 19:17] briansaycocie opened #44 "Broken link in Content > Colors"
On the Content page, when I click on the "outline button style" link, I see the 404 Github page.

To reproduce:
1. Go to https://jdrf.github.io/design-system/dist/content.html
2. Scroll down to Button Colors
3. Click "outline button style"

![screenshot 2016-06-02 14 16 55](https://cloud.githubusercontent.com/assets/1328262/15757744/b8394bcc-28cc-11e6-88f3-79149ac03382.png)

[2016-06-02 19:33] McCallumDillon opened #45 "Excessive mobile scroll to reach top (low priority)"
This may be overkill, but one thing I noticed on mobile was “a lot of scrolling” for certain sections. If you go to "http://jdrf.github.io/design-system/dist/content.html#typography” on mobile it is a lot of effort to reach back to the top of the page to access the menu. How do you feel about something like “[headroom.js](http://wicky.nillia.ms/headroom.js/)” or a ‘scroll to top’ button?

[2016-06-02 19:39] briansaycocie commented on #41
I've updated to node v6.2.0, npm v3.8.9, and gulp v3.9.1. Same result :(

[2016-06-02 19:43] briansaycocie opened #46 "Broken link in Content > Icons"
On the Content page, when I click on the "button classes" link, I see the 404 Github page.

To reproduce:
1. Go to https://jdrf.github.io/design-system/dist/content.html
2. Scroll down to Icons
3. Click "button classes"

![screenshot 2016-06-02 14 42 39](https://cloud.githubusercontent.com/assets/1328262/15758453/48d47794-28d0-11e6-8268-e645797a72a4.png)

[2016-06-02 19:45] McCallumDillon opened #47 "IE9 / Windows 7 (desktop) - Icon Only Buttons not quite centered"
![screen shot 2016-06-02 at 12 44 17 pm](https://cloud.githubusercontent.com/assets/5239235/15758524/ddac0c4e-28bf-11e6-8d4a-e377ecca28f4.jpg)

Screenshot shows the icon 'slightly' offeset

[2016-06-02 19:51] McCallumDillon opened #48 "IE9 / Windows 7 (desktop): Ripple effect isn't working on buttons"
IE9:  ![rec](https://cloud.githubusercontent.com/assets/5239235/15758714/bb2b288e-28c0-11e6-9820-4ad4eb628490.gif)

Clicking the button doesn't show the ripple effect.

Happens for both IE9  and  IE10 on Windows 7.

[2016-06-02 20:02] McCallumDillon opened #49 "All browsers: Buttons / Toggle Segments interaction improvements"
![rec2](https://cloud.githubusercontent.com/assets/5239235/15758917/877b6b88-28c1-11e6-889e-f1a78d49dd63.gif)

If these are to act almost like "tabs" then the current interaction of the "Toggle Segment" is strange.

- Would there be an instance of needing to toggle more than one?  If not then, toggling between left/center/right, only 1 should be "active" at a time.

- Would there be an instance wh

[2016-06-02 20:06] fuhton commented on #42
Merged and complete

[2016-06-02 20:06] #42 closed

[2016-06-02 20:06] fuhton commented on #35
Merged and complete

[2016-06-02 20:06] #35 closed

[2016-06-02 20:10] fuhton commented on #45
This is an interesting enhancement, but not something we can do right now.

[2016-06-02 20:12] McCallumDillon commented on #47
![screen shot 2016-06-02 at 1 12 03 pm](https://cloud.githubusercontent.com/assets/5239235/15759490/a8199caa-28c3-11e6-964d-6216222b5185.jpg)
we also see this here on the toggle icon bar

[2016-06-02 20:15] McCallumDillon opened #51 "IE9/10 / Windows 7 (desktop): Radio button toggles aren't working properly"
![rec3](https://cloud.githubusercontent.com/assets/5239235/15759559/fc7edf8a-28c3-11e6-9d09-736a9a0d62f4.gif)

In latest Chrome/Mac these toggle between each element. In IE9/10 they aren't toggling and clicking on a radio element does nothing.

[2016-06-02 20:38] briansaycocie opened #52 "IE9 / Windows 7: Placeholder text does not display in search bar"
In IE9, the placeholder text "Search..." does not display in the search bar.

![screenshot 2016-06-02 15 37 39](https://cloud.githubusercontent.com/assets/1328262/15760270/ffe98e9a-28d7-11e6-8574-b5d8387d77aa.png)

[2016-06-02 20:55] briansaycocie opened #53 "Mobile: Content page has horizontal scroll/stretching"
On a mobile device, the Content page has horizontal scroll/stretching.

![fbx97opdom](https://cloud.githubusercontent.com/assets/1328262/15760782/71ea1f80-28da-11e6-8dc5-56d6182e8939.gif)

[2016-06-02 21:03] briansaycocie opened #54 "Missing the Golf program color"
On the Content page, the Program Colors list six colors where as Zeplin shows seven colors. It appears the program color Golf is missing.

Content page:
![screenshot 2016-06-02 16 00 23](https://cloud.githubusercontent.com/assets/1328262/15760983/72463e68-28db-11e6-9a87-653816c29ca4.png)

Zeplin:
![screenshot 2016-06-02 16 00 39](https://cloud.githubusercontent.com/assets/1328262/15760993/7887966e

[2016-06-02 21:03] McCallumDillon opened #55 "IE9/10/11, Windows 7 (desktop) : Button Loading animation not showing"
![screen shot 2016-06-02 at 2 02 21 pm](https://cloud.githubusercontent.com/assets/5239235/15760980/a9ddb984-28ca-11e6-9159-ce5fd7e669f7.jpg)

Where the loading animated circle should be it is blank and just shows a solid green button.

[2016-06-02 21:33] briansaycocie opened #56 "Missing checkbox and radio icons for associated buttons"
On the Components page, the checkbox and radio buttons display text with no icons. On Zeplin, the icons are included with different states when clicked.

Components page:
![screenshot 2016-06-02 16 32 48](https://cloud.githubusercontent.com/assets/1328262/15761787/b6bb9d3c-28df-11e6-83b5-17297728a95b.png)

Zeplin:
![screenshot 2016-06-02 16 33 06](https://cloud.githubusercontent.com/assets/1328262

[2016-06-02 22:01] briansaycocie opened #57 "IE9/10/11, Windows 7: Line break on the Gray 7 palette"
On the Content page, the 7th and darkest grey (#757575) wraps down to the next row. The expected behavior is having that palette line up with the rest of the grey palettes.

Current:
![screenshot 2016-06-02 16 54 47](https://cloud.githubusercontent.com/assets/1328262/15762463/9664014c-28e3-11e6-9874-35e715b660c4.png)

Expected:
![screenshot 2016-06-02 16 55 00](https://cloud.githubusercontent.com/

[2016-06-02 22:47] briansaycocie opened #58 "IE9, Windows 7: Color palettes are vertically stacked instead of horizontal"
In IE9, the color palettes are vertically stacked instead of being in a horizontal row. The expected behavior is to display as a horizontal row.

Current:
![screenshot 2016-06-02 17 47 16](https://cloud.githubusercontent.com/assets/1328262/15763503/1279c752-28ea-11e6-8969-7340fe48612c.png)

Expected:
![screenshot 2016-06-02 17 46 37](https://cloud.githubusercontent.com/assets/1328262/15763510/190d

[2016-06-02 22:57] briansaycocie opened #59 "IE9/10/11 & Edge, Windows 7/10: Character spacing issue"
For IE9-11 and Microsoft Edge, the character spacing of the file structure tree is more spaced out than the rest of the browsers.

Current:
![screenshot 2016-06-02 17 52 09](https://cloud.githubusercontent.com/assets/1328262/15763729/7a07b248-28eb-11e6-8e5f-a7c644755e0e.png)

Expected:
![screenshot 2016-06-02 17 52 16](https://cloud.githubusercontent.com/assets/1328262/15763736/7fc2243e-28eb-11e6-

[2016-06-03 13:48] fuhton commented on #44
Merged and confirmed as fixed.

[2016-06-03 13:48] #44 closed

[2016-06-03 13:48] fuhton commented on #46
Merged and confirmed as fixed.

[2016-06-03 13:48] #46 closed

[2016-06-03 15:22] #54 closed

[2016-06-03 16:13] #53 closed

[2016-06-03 16:17] fuhton commented on #52
Bootstrap explicitly says it does not support ie9 Placeholders - http://v4-alpha.getbootstrap.com/getting-started/browsers-devices/#internet-explorer-9

[2016-06-03 16:17] #52 closed

[2016-06-03 16:22] briansaycocie commented on #55
I'm also seeing this in IE11, Windows 10.

[2016-06-03 16:40] briansaycocie opened #60 "IE9/10, Windows 7: Checkbox buttons aren't working properly"
Might be related to #51.

When clicked, the buttons do not toggle to the correct state.

![woytjlqqpo](https://cloud.githubusercontent.com/assets/1328262/15786011/eaee2110-297f-11e6-84ad-6668ed590e58.gif)

[2016-06-03 16:44] #51 closed

[2016-06-03 16:45] fuhton commented on #60
Duplicate of #51

[2016-06-03 16:45] #60 closed

[2016-06-03 17:05] fuhton commented on #58
This is because Flexbox isn't supported in IE9. This is also seen in the browser support for Bootstrap v4 -http://v4-alpha.getbootstrap.com/getting-started/browsers-devices/#internet-explorer-9

[2016-06-03 17:22] fuhton commented on #57
This affects all browsers in some way. Noticed on Chrome at sub-976px this is pushing elements to the next line.

[2016-06-03 17:30] fuhton commented on #57
@briansaycocie I think this is better than the alternative - http://cl.ly/342b2r0A030A

[2016-06-03 17:35] fuhton commented on #48
This is resolved on IE 10. Issue is now more "broken" on IE9.

[2016-06-03 17:38] fuhton commented on #49
1. Referencing the "Radio Buttons" section
2. Feels the same as #1
3. This is part of bootstrap and the focus class.

I think we should break 3. into it's own ticket.

@McCallumDillon Thoughts?

[2016-06-03 17:39] fuhton commented on #55
I'm not seeing the loading animation on any IE browser.

[2016-06-03 17:40] fuhton commented on #56
Having checkbox and radio button form elements are out of the scope of this project. Having Radio Buttons ( btn ) and Checkbox Buttons ( btn ). We've followed closely to Zeplin's styling, but opted to implement Bootstrap's implementation.

http://v4-alpha.getbootstrap.com/components/buttons/#checkbox-and-radio-buttons

@pmmck

[2016-06-03 17:43] #59 closed

[2016-06-03 17:50] briansaycocie commented on #57
That works for me. Closing out.

[2016-06-03 17:50] #57 closed

[2016-06-03 18:54] fuhton commented on #37
@pmmck Did you have any specific copy you'd want to add to each page?

This would be considered a "sub-title".

[2016-06-03 20:33] #36 closed

[2016-06-06 15:37] #37 closed

[2016-06-06 16:45] McCallumDillon commented on #49
Yeah. My thought is that the radio buttons differ from checkboxes in that the user can only select one at a time. VS the checkboxes where the user may want to toggle a few items.

[2016-06-06 18:32] briansaycocie commented on #41
Figured out the issue. The latest version (v0.4.0) of gulp-scss-lint threw a fatal error but did not specific what the issue was. I reverted it back to v0.3.9 and ran `npm run pull`. It failed at the same spot, except this time I got a helpful error message: `Error: You need to have Ruby and scss-lint gem installed`.

Running `gem install ruby && gem install scss-lint` fixed it for me.

[2016-06-06 18:32] #41 closed

[2016-06-07 13:18] fuhton commented on #58
@RachelRVasquez It'd be great to add in a polyfill to make this work on Github

[2016-06-07 14:38] RachelRVasquez commented on #34
Just re-submitted a new PR without any compiled files:

https://github.com/JDRF/design-system/pull/61

[2016-06-07 15:23] RachelRVasquez commented on #49
@McCallumDillon @fuhton I think we need to clarify what these buttons are intended to be used for. The Zeplin design has titled them as toggable areas:

http://v4-alpha.getbootstrap.com/components/buttons/#toggle-states

Bootstrap's reference only shows one button to demonstrate the toggle state. For the design, we used button groups shown here on Bootstrap's docs:

http://v4-alpha.getbootstrap.co

[2016-06-07 15:27] #34 closed

[2016-06-07 15:34] RachelRVasquez opened #62 "README instructions on gh-pages branch"
https://github.com/JDRF/design-system/blob/gh-pages/README.md

The README on the gh-pages branch has instructions that are a bit misleading. It currently says:

And the code sample below is `npm run pull`.

I think we can change this to:

With the code sample below being:

[code]

I'd like to clarify this content so the reader understands that once they have master set up as a sub-directory, they

[2016-06-07 16:06] RachelRVasquez commented on #58
@fuhton I've added 10up's flexibility polyfill successfully. However it seems due to lint errors, it's not applying correctly for IE9 and the colors are displaying as dark grey while still not stacking.

Added the file to the linter when I realized it's been set up like this:
https://github.com/10up/flexibility/blob/master/dist/flexibility.js

The entire file is a single line. Can we exclude or so

[2016-06-07 17:27] fuhton commented on #49
I think it's a confusion of terms. All necessary functionality is included already with the Single Toggle ( radio button buttons ) and Multi Toggle ( checkbox buttons ).

[2016-06-07 17:27] #49 closed

[2016-06-07 17:28] fuhton commented on #58
We should be requiring this like we've done prismjs.

[2016-06-07 17:28] fuhton commented on #62
Agreed. I think the language is not correct.

[2016-06-07 18:32] briansaycocie opened #63 "Confusion with initial setup"
I had `npm run pull` fail on me during the initial setup and realized I needed to have a clone copy of the master branch inside my working directory. It wasn't very clear to me until I looked at the file structure. I recommend adding steps to clone again before `npm run pull` in Contributing > Installation.

Example:
## Requirement
Clone another copy of the repo (master branch) inside your working

[2016-06-07 18:39] briansaycocie opened #64 "Issue with local dev setup in gh-pages branch"
After running the initial setup with the correct file structure, I ran into an issue with `npm run pull` inside the gh-pages branch. I had the `npm run setup` fail on me with the error message `npm ERR! missing script: setup`.

I ran `npm run pull` inside the design-system sub folder (master branch), and that seemed to work. To resolve, I think the script will need to update from this:
[code]
to
[

[2016-06-07 20:59] fuhton commented on #64
@briansaycocie I'm not able to find this in the documentation? I believe it's already been changed - can you confirm?

[2016-06-07 21:04] #63 closed

[2016-06-07 21:04] #62 closed

[2016-06-07 21:31] fuhton opened #65 "Remove Ripple animation from all Buttons and put it only on ripple example button"

[2016-06-07 21:38] pmmck commented on #56
Let's remove Radio and Checkbox buttons until we add form controls.

The "Toggle Segment" and "Toggle Icon Bar" is already using the Button Group HTML.  So how about we rename them to "Button Group" and "Button Toolbar"?

@briansaycocie @fuhton

[2016-06-07 22:13] RachelRVasquez commented on #55
@fuhton
Just wanted to provide a status here - after some investigation, part of the issue was the value for `stroke-dasharray` was too high. Adjusting this number and adding a `stroke="#ffffff" to the circle graphic assisted in getting the animation to show in IE11/10. However in IE9, the `animation` syntax is not supported.

http://caniuse.com/#search=css%20animation

I've added in the auto pref

[2016-06-07 22:58] pmmck commented on #55
What do you think about starting with the text "Loading..." and then enhancing with the animated spinner if the browser supports it?

![loading text](https://cloud.githubusercontent.com/assets/385391/15877424/aba18730-2ce1-11e6-9707-c19cad02ca13.png)

@RachelRVasquez @briansaycocie @fuhton

[2016-06-08 12:58] #65 closed

[2016-06-08 13:03] fuhton opened #66 "Make Ripple inclusive of all 'btn' classes"
By default, in the Design System, we need to make the ripple effect trigger on all `btn` button classes. While this is not inline with the convention of Bootstrap, this is a primary part of the Material Design methodology where most of our structure is coming from.

1. Make the JS automatically work on all `btn` classes
2. Make an exclusion class `btn-no-ripple` or similar
3. Update our documentat

[2016-06-08 13:06] fuhton opened #67 "IE9 | Ripple/Loading animation changes"
Work in #66 needs to be completed first.

1. Disable ripple for IE9.
    - With the change of Ripple being applied to all classes by default, I'd like to use a REUSABLE browser checker to determine if IE9 or lower.
2. Loading animation (as #55 ) should be swapped out for a "Loading..." text if possible.

cc @pmmck

[2016-06-08 13:08] fuhton commented on #48
Instead of supporting this in IE9, we'll be moving to excluding this from IE9 using JavaScript/jQeruy. I've created a new ticket for this #67

[2016-06-08 13:08] #48 closed

[2016-06-08 13:24] fuhton commented on #55
@RachelRVasquez Let's move forward with the above suggestion after we've completed #66 and #67

[2016-06-08 14:18] briansaycocie commented on #64
@fuhton I think this is more an issue with the script than it is the documentation. It could be that `npm run setup` isn't working specifically on my machine. Not a critical issue as I'm able to still do work without running that command.

[2016-06-08 14:29] fuhton commented on #64
@briansaycocie Have you updated your local to be inline with the current JDRF master/gh-pages branch?

[2016-06-08 14:50] RachelRVasquez commented on #47
Created a PR for the button icons:

https://github.com/JDRF/design-system/pull/68

[2016-06-08 14:59] RachelRVasquez commented on #58
This has been required like prismjs from the node modules. There is a console error that is likely the culprit however it is saying that `requestAnimationFrame` is undefined. Doing a search through all files, the only instances of this being used is in node_modules for babel-core and caniuse-db. Thoughts @fuhton?

[2016-06-08 15:04] fuhton commented on #47
Merged and confirmed.

[2016-06-08 15:04] #47 closed

[2016-06-08 15:18] fuhton commented on #58
Let's try a different jQuery version ( prefer jQuery 1.X.X ) to confirm it's not an issue with jQuery

[2016-06-08 15:38] #56 closed

[2016-06-08 15:59] briansaycocie commented on #64
@fuhton Just synced the branches on my fork and ran `npm run pull` again. I get the same `npm ERR! missing script: setup` error.

![screenshot 2016-06-08 10 56 17](https://cloud.githubusercontent.com/assets/1328262/15901249/1cd3df6c-2d68-11e6-9828-b418826f5644.png)

[2016-06-08 17:59] RachelRVasquez commented on #66
Submitted a PR for each master/gh-pages:

https://github.com/JDRF/design-system/pull/69

https://github.com/JDRF/design-system/pull/70

[2016-06-08 18:19] fuhton commented on #66
Merged and confirmed.

[2016-06-08 18:19] #66 closed

[2016-06-08 18:21] RachelRVasquez commented on #58
Tried downgrading to 1.12.4 and it's still giving that error in IE9.

[2016-06-08 19:22] RachelRVasquez commented on #67
@fuhton
Submitted a PR for removing the ripple in IE 9/8:

https://github.com/JDRF/design-system/pull/71

I'd like to complete the loading animation on the original issue:

https://github.com/JDRF/design-system/issues/55

[2016-06-08 19:52] RachelRVasquez commented on #67
@fuhton

Also submitted an additional PR to update documentation for the ripple effect's browser support.

https://github.com/JDRF/design-system/pull/72

[2016-06-08 20:25] RachelRVasquez commented on #55
@fuhton

Submitted a PR for the code changes:

https://github.com/JDRF/design-system/pull/74

And another for documentation:

https://github.com/JDRF/design-system/pull/73

[2016-06-08 20:40] fuhton commented on #58
I'll do some digging into this issue.

[2016-06-08 20:52] RachelRVasquez commented on #55
@fuhton

Spacing adjusted in PR #74.

[2016-06-09 13:20] fuhton opened #75 "Add new JS menu item and Ripple JS file"
1. Add a new JS menu item (similar to Component/Content).
2. Add in a docs for using Ripple.js

[2016-06-09 13:27] fuhton commented on #67
Merged and confirmed complete.

[2016-06-09 13:27] #67 closed

[2016-06-09 13:27] fuhton commented on #55
Merged and complete

[2016-06-09 13:27] #55 closed

[2016-06-09 16:20] briansaycocie opened #76 "Broken layout when flex is enabled"
Bootstrap supports [flexbox](https://v4-alpha.getbootstrap.com/getting-started/flexbox/) usage by adding `$enable-flex: true;` to _variables.scss. When I add this to `./design-system/src/scss/_variables.scss`, the layout of the documentation site breaks causing the main content area to overlap the sidebar navigation.

![ifsbbhsbic](https://cloud.githubusercontent.com/assets/1328262/15937326/06b6c9

[2016-06-09 17:20] fuhton commented on #76
While this is awesome, this should be marked as a future enhancement. Browser support is not enabled for IE9 and there are some major issues in IE10 - these bugs are most definitely going to affect the grid. We could use a 3rd party plugin like [Flexibility](https://github.com/10up/flexibility), but I'm not comfortable requiring use of our JS file at this time.

Most of these known issues are base

[2016-06-09 17:22] fuhton commented on #64
Odd. It's clear in the [code](https://github.com/JDRF/design-system/blob/gh-pages/package.json#L14) that it's `pull` not `setup`

[2016-06-09 21:39] pmmck opened #81 "Sidebar: only show child links from the current parent"
I should only be able to see at one time: all parent nav items and the child links of the current parent.  If I choose a different parent, the current parent should close and the new parent should open.

[2016-06-10 13:32] fuhton commented on #58
While this is a "Nice to have", I don't think this ruins the ultimate experience in IE9.

[2016-06-10 13:32] #58 closed

[2016-06-10 18:07] RachelRVasquez opened #85 "Proper heading heirarchy with heading classes for cards"
I was reviewing the markup for the cards on the demo page:

http://jdrf.github.io/design-system/dist/components.html#cards

And I noticed the featured card is using H4s/H6s. I'd like to discourage overusing headings and using them out of order. I'd like to use the proper headings for the order of the page it's on and take advantage of the heading classes if we want to use a style from a different

[2016-06-10 18:37] fuhton commented on #81
This has been merged and is confirmed complete.

[2016-06-10 18:37] #81 closed

[2016-06-10 18:52] RachelRVasquez opened #86 "Remove class from Content Cards' text editor controlled content"
Referencing the "Content Cards" on the demo:

http://jdrf.github.io/design-system/dist/components.html#cards

There's a `ds-card-text` class that is being applied to the paragraph tag. Assuming this card will be used for the WordPress text editor, we have to assume that:

1. No classes will be added to text elements since they're coming from the wysiwyg unless they're WP defaults
2. There will be

[2016-06-10 21:04] RachelRVasquez opened #87 "Location card address element"
Let's swap the `address` element for something more generic since this is being used for external addresses.

Demo: http://jdrf.github.io/design-system/dist/components.html#cards

Address Ref: http://html5doctor.com/the-address-element/

[2016-06-10 21:55] briansaycocie commented on #85
@RachelRVasquez the title/subtitle markup was carried over from [Bootstrap's Card examples](https://v4-alpha.getbootstrap.com/components/card/#content-types), but I agree it would be better to utilize the heading classes.

I've submitted a pull request here: #88

[2016-06-13 01:31] RachelRVasquez commented on #87
@briansaycocie Both PRs look good to merge on my end. Waiting on any input from @fuhton as well and if none, we can get this merged in Monday.

[2016-06-13 01:32] RachelRVasquez commented on #85
@briansaycocie The PR looks good to merge on my end. Waiting on any input from @fuhton as well and if none, we can get this merged in Monday.

[2016-06-13 02:34] RachelRVasquez opened #91 "Markup of 2nd featured card doesn't match example"
http://jdrf.github.io/design-system/dist/components.html#cards

Noticed after trying to implement into promotions, but it looks like in the 2nd featured card (the one without the slanted hero mask), the markup includes the class `ds-card-hero`. This class applies that slashed style which we only want for the first featured card. The visual example itself doesn't have that class so let's remove it

[2016-06-13 02:48] RachelRVasquez opened #92 "Padding adjustment to ds-card-header"
The padding in `.ds-card-header` is currently:

`padding: 0.75rem 1.25rem;`

The designs say they should be 10px top/bottom and 24px left/right. Let's adjust this to:

`padding: 0.625rem 1.5rem;`

The designs are a bit confusing because depending on what you click, it can either be 10px or 12px top/bottom. If I click "Our partners promotions..." and then hover over the container's bottom edge, it'

[2016-06-13 02:53] RachelRVasquez commented on #85
@briansaycocie @fuhton Just found something we may need to tweak. Now that we are applying heading classes, the headings have bottom margins that throw off the measurements we're seeing in the designs. So if I throw a `.ds-h5` on the `.ds-card-header` div, it adds margin so the spacing around the content below it is now off from the designs. Do we want to edit the DS to remove margins within cards

[2016-06-13 11:57] fuhton commented on #64
@briansaycocie Any thoughts?

[2016-06-13 11:58] fuhton commented on #85
Let's submit a PR to remove bottom margins from heading classes when inside of `ds-card-header`

[2016-06-13 12:00] fuhton commented on #87
Merged and reviewed. Closing.

[2016-06-13 12:00] #87 closed

[2016-06-13 12:03] #91 closed

[2016-06-13 13:46] RachelRVasquez commented on #92
PR submitted:

https://github.com/JDRF/design-system/pull/93

[2016-06-13 13:57] RachelRVasquez commented on #85
@fuhton

PR submitted:

https://github.com/JDRF/design-system/pull/94

[2016-06-13 13:58] briansaycocie commented on #64
:doh: I synced the master branch but not gh-pages. Synced up and retested, it's now working for me. :) Closing out.

[2016-06-13 13:58] #64 closed

[2016-06-13 13:59] fuhton commented on #92
Merged and confirmed.

[2016-06-13 13:59] #92 closed

[2016-06-13 13:59] fuhton commented on #85
Merged and confirmed.

[2016-06-13 13:59] #85 closed

[2016-06-13 14:15] RachelRVasquez commented on #86
@fuhton

Two PRs submitted, one for styles, another for markup updates on io:

https://github.com/JDRF/design-system/pull/95

https://github.com/JDRF/design-system/pull/96

[2016-06-13 14:21] fuhton commented on #86
Merged and confirmed.

[2016-06-13 14:21] #86 closed

[2016-06-13 14:34] RachelRVasquez opened #97 "Add heading classes to card headers where applicable"
It looks like the card headers in the designs are 16px/24px and are Gotham Medium - which is the same style as the H5 heading. Let's assume we're adding the `.ds-h5` classes to these areas and updated the markup on gh-pages to reflect that.

The designs also specify the color of this text to be `rgba(0, 0, 0, 0.54);`. It looks like we're using `#818a91` instead. Let's update the card styles so it

[2016-06-13 14:40] pmmck commented on #97
@RachelRVasquez this is a philosophical question: wouldn't it be more modular if we used .card-header instead of .h5?

cc @briansaycocie @fuhton

[2016-06-13 14:48] RachelRVasquez commented on #97
@pmmck I agree - we can also eliminate the use of the `.ds-text-muted`class and since all card headers are the same style except the archive featured card (w/ the slanted hero) where the line-height is 16 instead of 24px, we can apply the font size/line height/color to the `.card-header`. @fuhton Thoughts?

[2016-06-13 14:54] fuhton commented on #97
I agree with Patrick's suggestion as well as your suggestion. @RachelRVasquez Let's add a PR for this change.

[2016-06-13 15:31] RachelRVasquez commented on #97
@fuhton

I've updated DS so we're not using `.ds-text-muted` or `.ds-h5` for the `.card-header`. Instead the font size/line height/color have been applied to the card header. I've also remove the `.ds-text-muted` class from everywhere else and applied styles to the card subtitles. We should only be using heading classes now on headings where we want to change the default heading style.

https://gi

[2016-06-13 15:33] fuhton commented on #97
Merged and confirmed.

[2016-06-13 15:33] #97 closed

[2016-06-13 15:38] RachelRVasquez opened #100 "Sidebar Navigation section overlaying entire container"
Spotted a bug - looks like when scrolling to the sidebar navigation section - it's 100% width instead of off to the right like the rest of the content. It looks like perhaps there was a div not closed properly? Viewing this in Chrome on desktop.

http://jdrf.github.io/design-system/dist/components.html#side-navigation

![screen shot 2016-06-13 at 11 37 21 am](https://cloud.githubusercontent.com/as

[2016-06-13 15:41] #100 closed

[2016-06-13 18:57] RachelRVasquez opened #102 "Missing border on 2nd featured card image"
http://jdrf.github.io/design-system/dist/components.html#cards

There's a 1px border around the image in the 2nd featured card image in the designs. We'll need to implement it into the DS.

![screen shot 2016-06-13 at 2 48 23 pm](https://cloud.githubusercontent.com/assets/10246844/16019449/14c27b2c-3177-11e6-830a-ddf3ff645dbd.png)

[2016-06-13 19:27] RachelRVasquez commented on #102
@fuhton PR submitted:

https://github.com/JDRF/design-system/pull/103

[2016-06-13 20:01] RachelRVasquez opened #106 "Adjustments to 2nd featured card .ds-card-block"
In the 2nd featured card, the space from the right edge of the image and the content next to it is 24px according to the design. However due to doubling the `.ds-card-block` wrappers, we're doubling the padding. We also need to adjust the percentages slightly so the image is at full size (286px) at it's largest breakpoint.

This is also a good opportunity to have less markup and remove the `.ds-ca

[2016-06-13 20:59] RachelRVasquez commented on #106
@fuhton

Submitted two PRs to bring this card closer to designs padding wise and with that third column. Also removed an extra div we didn't have to use.

https://github.com/JDRF/design-system/pull/107

https://github.com/JDRF/design-system/pull/108

[2016-06-13 21:04] fuhton commented on #106
Merged and confirmed.

[2016-06-13 21:04] #106 closed

[2016-06-14 14:00] jdrf-digitaldesigner opened #109 "Design System - Buttons - Width and Height"
The width and height of the buttons should be multiples of 4, with the following heights:

- 32px (small buttons)

- 40px (medium buttons)

- 48px (large buttons)

Thx,

Ismael

[2016-06-14 14:07] fuhton commented on #102
Merged and confirmed.

[2016-06-14 14:07] #102 closed

[2016-06-14 14:08] jdrf-digitaldesigner opened #110 "Design System - Outline Buttons - Remove Shadow"
The Outline buttons should not have the box shadow property applied to them.

Thx,

Ismael

[2016-06-14 14:10] pmmck opened #111 "Design System Version Info"
I don't see where I can find information about which version of the DS I'm using.  I expect the DS to evolve faster than JDRF sites upgrading to the current version, so having a clear way of identifying which version a site is using is important.

[2016-06-14 14:12] jdrf-digitaldesigner opened #112 "Design System - Outline Buttons - No Fill Color on Disabled Buttons"
Disabled Outline buttons should have a transparent background color.

Thx,

Ismael

[2016-06-14 14:43] jdrf-digitaldesigner opened #114 "Design System - Text Buttons - Reduce L/R Padding"
The Left and Right padding on Text buttons should be reduced to 8px.

Thx,

Ismael

[2016-06-14 14:55] jdrf-digitaldesigner opened #115 "Design System - Block Buttons - Update Width and Height"
The block buttons' width should be a multiple of 4, and height should be 40px.

Thx,

Ismael

[2016-06-14 15:43] jdrf-digitaldesigner opened #116 "Design System - Button Group Toggles - Not Functioning Properly"
The Button Groups should display one selected button at a time (Toggle Segment style)

[2016-06-14 15:45] jdrf-digitaldesigner opened #117 "Design System - Button Toolbar - Toggle Not Functioning Properly"
The Button Toolbar (Toggle Bar) should display one selected element at a time (toggle).

[2016-06-14 16:07] jdrf-digitaldesigner opened #118 "Design System - Checkbox and Radio Buttons Margins"
There should be an 8px margin between each button for Checkbox and Radio Buttons.

Thx,

Ismael

[2016-06-14 16:14] jdrf-digitaldesigner opened #119 "Icon Button Size"
The Icon Left and Icon Right buttons are not currently listed in the design system.

Thx,

Ismael

[2016-06-14 16:15] RachelRVasquez commented on #109
@jdrf-digitaldesigner Currently implementing the heights to the buttons. As for the widths, we'd advise against setting fixed widths on the buttons as we can't predict the content of the buttons. To ensure all content will fit inside the buttons without restrictions, let's leave the width defined by the padding and when used in projects, custom styles can overwrite on a case by case basis.

cc: @f

[2016-06-14 16:17] RachelRVasquez commented on #109
@fuhton

PR submitted:

https://github.com/JDRF/design-system/pull/120

[2016-06-14 16:27] RachelRVasquez commented on #112
@fuhton

Created a PR:

https://github.com/JDRF/design-system/pull/121

[2016-06-14 16:28] RachelRVasquez commented on #110
@fuhton

Created a PR:

https://github.com/JDRF/design-system/pull/121

[2016-06-14 16:29] jdrf-digitaldesigner opened #122 "Design System - Cards - Size"
Cards' width and height should be a multiple of 4px.

Thx,

Ismael

[2016-06-14 16:32] jdrf-digitaldesigner opened #123 "Design System - Cards - Remove Border"
Please remove 1px Border value.
![screen shot 2016-06-14 at 12 31 24 pm](https://cloud.githubusercontent.com/assets/19931482/16051027/fdcfa88a-322b-11e6-9065-cdd7d4a9cdf5.png)

[2016-06-14 16:42] jdrf-digitaldesigner opened #124 "Design System - Featured Cards Aspect Ratio"
The aspect ratio of the images on cards should be 13:8.

Thx,

Ismael

[2016-06-14 16:46] RachelRVasquez commented on #115
@fuhton
This bug was submitted for PR on issue #109.

Looks like we had the markup using the "large" version of the block buttons however. Submitted another PR to reflect the normal sized block buttons which will be 40px height with the above issue closed out.

https://github.com/JDRF/design-system/pull/125

[2016-06-14 16:47] fuhton commented on #110
Merged.

[2016-06-14 16:48] fuhton commented on #109
Merged

[2016-06-14 16:49] fuhton commented on #112
Merged

[2016-06-14 16:49] fuhton commented on #115
Merged

[2016-06-14 16:52] jdrf-digitaldesigner opened #126 "Design System - Featured Card Header Height"
The height of the Featured Card's Header should be 48px, with 16px top and bottom padding.

Thx,

Ismael

[2016-06-14 16:56] jdrf-digitaldesigner opened #127 "Design System - Featured Card Divider"
The Featured Card's Divider should not extend beyond the start of the Header text (starting from the right edge).

Thx,

Ismael

[2016-06-14 17:13] jdrf-digitaldesigner opened #128 "Design System - Featured Card Content Area Padding"
The top padding between the Featured Card's Title and Header Divider should be 40px.

Thx,

Ismael

[2016-06-14 17:15] jdrf-digitaldesigner opened #129 "Design System - Featured Card Footer"
The Featured Card Footer should have a 24px top padding from the bottom of the Content Area, and an 8px bottom padding to the bottom edge of the Card.

Thx,

Ismael

[2016-06-14 17:18] jdrf-digitaldesigner opened #130 "Design System - Featured Card Content"
The Featured Card's content should be placed 40px to the right of the momentum line. And 40px from the right edge of the Card.

Thx,

Ismael

[2016-06-14 17:25] RachelRVasquez commented on #114
@jdrf-digitaldesigner

I took a look at the design - it looks like the text buttons are following the padding set on other buttons (16px). Can you confirm this is what's expected?

![screen shot 2016-06-14 at 1 23 43 pm](https://cloud.githubusercontent.com/assets/10246844/16052698/5b480f78-3233-11e6-8957-a1bf1c147c66.png)

![screen shot 2016-06-14 at 1 23 51 pm](https://cloud.githubusercontent.com

[2016-06-14 17:26] RachelRVasquez commented on #119
@jdrf-digitaldesigner

These are currently displayed in the icons section:

http://jdrf.github.io/design-system/dist/content.html#icons

[2016-06-14 17:55] RachelRVasquez commented on #117
@jdrf-digitaldesigner @pmmck

There are two different components in Bootstrap. One is the toggle states applied only to a single button or a button group of checkboxes/radio buttons:

http://v4-alpha.getbootstrap.com/components/buttons/#toggle-states

The second component is a button group set as a button toolbar that does not have toggle states:

http://v4-alpha.getbootstrap.com/components/button

[2016-06-14 17:56] RachelRVasquez commented on #116
@jdrf-digitaldesigner @pmmck

Left a comment on this issue to clarify expected functionality:

https://github.com/JDRF/design-system/issues/117

[2016-06-14 18:20] RachelRVasquez commented on #118
@fuhton
Submitted two PRs:

https://github.com/JDRF/design-system/pull/131

https://github.com/JDRF/design-system/pull/132

[2016-06-14 18:23] fuhton commented on #118
Merged.

[2016-06-14 18:28] RachelRVasquez commented on #122
@jdrf-digitaldesigner

To keep cards dynamic/responsive, we should avoid restricting the width/heights of them. The Bootstrap grid can help determine widths and on a per project basis where DS is being used, the widths can be overwritten. We want to ensure content will never break out of the cards due to size restrictions.

[2016-06-14 18:35] RachelRVasquez commented on #126
Let's avoid adding a fixed height on the header to compensate for longer titles or screen sizes where titles may break into multiple lines. We can move forward with adjusting the padding.

[2016-06-14 18:38] jdrf-digitaldesigner opened #133 "Design System - Cards - Link Button"
The Link button(s) on Cards should be treated as a Text Button (hover).

Thx,

Ismael

[2016-06-14 18:44] jdrf-digitaldesigner opened #134 "Design System - Featured Card - Responsive Issue"
Please look into the format of the Featured card when the browser window hits 1200px (CTA goes away) and 992px (Card loses structure).

Thx,

Ismael

[2016-06-14 18:50] jdrf-digitaldesigner commented on #114
@RachelRVasquez

We've had to update to ensure that the hover background wouldn't touch the edge in cards. Thx

[2016-06-14 18:54] jdrf-digitaldesigner commented on #117
It should function like the Button-toolbar example: http://v4-alpha.getbootstrap.com/components/button-group/#button-toolbar

Thx

[2016-06-14 19:48] jdrf-digitaldesigner opened #135 "Design System - Featured Card"
The Header text's top and bottom padding  for **ds-card ds-card-featured** should be 12px.

The Image should only say "Image", please remove "cap".

The Image's bottom padding should be 32px.

Title color should be: #002855

Padding between Title and Date: 12px

Padding between Date and Location: 12px

Padding between Location and CTA: 16px

*Date-range and Location icons missing

Thx,

Ismael
![s

[2016-06-14 20:02] jdrf-digitaldesigner opened #136 "Design System - Cards - Image Cap Card"
ds-card-img-top

Image: Use 13:8 Aspect Ratio

Content Area: Left and Right Padding 16px

Date: Top Padding 16px, Bottom Padding 8px

Thx,

Ismael

[2016-06-14 20:19] RachelRVasquez opened #137 "Add documentation about adding material icons in icon section"
Let's include a link back to the readme and a comment about including the google CDN icon file for material icons. It's something that may be missed if only referencing the io demo site.

https://github.com/JDRF/design-system#using-design-system

http://jdrf.github.io/design-system/dist/content.html#icons

[2016-06-14 20:20] jdrf-digitaldesigner opened #138 "Design System - Cards Organization"
Image Cap:
ds-card-img-top

Header and Footer:
ds-card ds-card-featured ds-card-featured-hero
ds-card ds-card-featured
ds-card ds-card-content
ds-card-title ds-h4
ds-card ds-card-block
ds-card ds-card-program

Thx,

Ismael

[2016-06-14 20:36] jdrf-digitaldesigner opened #139 "Design System - Content Cards"
ds-card ds-card-content

Padding between Content Text and image: 24px

Remove "cap" from Image

Padding between Image and CTA: 32px

Padding between CTA and bottom edge of Card: 32px

*For the Location Card: Add Launch icon and remove underline on "Directions" text link

Thx,

Ismael

[2016-06-14 21:01] pmmck commented on #111
What version should we launch with?  It seems like it's further along than the current status of v0.0.1.  thoughts?

@fuhton @RachelRVasquez @briansaycocie

[2016-06-14 21:16] RachelRVasquez opened #143 "2px border on card headers"
Card headers should have a 2 pixel border instead of 1px.

[2016-06-14 21:17] RachelRVasquez opened #144 "Location card strong text color"
Text color on the location card for `<strong>` elements should be `rgba(0, 0, 0, 0.87);` instead of black.
![screen shot 2016-06-14 at 5 17 41 pm](https://cloud.githubusercontent.com/assets/10246844/16060063/eb3d3c6e-3253-11e6-9b99-9e0588d9b798.png)

[2016-06-14 21:39] briansaycocie commented on #127
Hey Ismael,

Can you provide a screenshot of the divider? I'm having trouble viewing the issue.

Thanks,
Brian

[2016-06-14 21:53] RachelRVasquez commented on #144
@fuhton

Submitted PR:

https://github.com/JDRF/design-system/pull/145

[2016-06-14 21:59] briansaycocie commented on #124
Hey @jdrf-digitaldesigner,

I've updated the dimensions of the Featured card image to 13:8 (converted into pixels would be 520 x 320). Visually, it looks the same as the current version, but I wanted to note the Featured card example is squeezed together in the main content column which does not reflect the actual use of the card (which I believe is full width). I've added a screenshot to compare

[2016-06-14 22:03] pmmck commented on #127
Hi @briansaycocie ,

Here you go: https://www.evernote.com/l/ABffiNs0jiVNjps78cPcnjGnjjYXLIqfF9s

cc @jdrf-digitaldesigner

[2016-06-14 22:05] RachelRVasquez commented on #143
@fuhton

PR submitted:

https://github.com/JDRF/design-system/pull/146

[2016-06-14 22:05] pmmck commented on #126
@RachelRVasquez
The padding and line-height should equal 48px (for a single line title).  We agree that the solution is not to declare a fixed height.

cc @jdrf-digitaldesigner

[2016-06-14 22:07] briansaycocie opened #147 "Allow full width components on the documentation site"
With some of the components designed full-width in mind (i.e.: [Featured Card](https://jdrf.github.io/design-system/dist/components.html#cards)), the documentation site should allow the ability to add full-width examples instead of constraining all components inside the main content column.

Example:
![full-width](https://cloud.githubusercontent.com/assets/1328262/16061413/68c77f84-3252-11e6-809e-

[2016-06-14 22:08] pmmck commented on #122
@RachelRVasquez a good check to see if the line-heights, padding, margins are set correctly is if the total height of a component is a multiple of 4.   Type and icons align to a 4px grid; components align to an 8px grid.

cc @jdrf-digitaldesigner

[2016-06-14 22:11] RachelRVasquez commented on #114
@fuhton

PR submitted:

https://github.com/JDRF/design-system/pull/148

[2016-06-14 22:12] pmmck commented on #124
@briansaycocie that's a good point and I'm not sure how to get around that.  @jdrf-digitaldesigner and I will discuss tomorrow.  Would love to hear @fuhton 's thoughts.

[2016-06-14 22:14] pmmck commented on #119
@RachelRVasquez can we move them into the buttons section?

cc @jdrf-digitaldesigner

[2016-06-14 22:14] RachelRVasquez commented on #116
@pmmck @jdrf-digitaldesigner Does this function like the button toolbar as well?

[2016-06-14 22:17] pmmck commented on #116
@RachelRVasquez the Button Group in the DS should function like the Button Group in Bootstrap: http://v4-alpha.getbootstrap.com/components/button-group/#basic-example

@jdrf-digitaldesigner

[2016-06-14 22:27] pmmck opened #149 "Customize the order of items in the Fabricator Menu"
It would be nice to control the order of Layout, Content, Components as well as their sub items based on JDRF priority / popular usage rather than alphabetical.

[2016-06-15 12:12] fuhton commented on #144
Merged.

[2016-06-15 12:12] #144 closed

[2016-06-15 12:12] fuhton commented on #114
Merged.

[2016-06-15 12:12] fuhton commented on #143
Merged.

[2016-06-15 12:12] #143 closed

[2016-06-15 12:47] fuhton commented on #124
Unfortunately, we're not in a position to change the width of the content - it would require rebuilding the sidebar nav. This would be best as a future enhancement

[2016-06-15 12:48] fuhton commented on #110
@jdrf-digitaldesigner Can you review and confirm?

[2016-06-15 12:49] fuhton commented on #109
@jdrf-digitaldesigner Can you review and confirm?

[2016-06-15 12:49] fuhton commented on #109
@jdrf-digitaldesigner Can you review and confirm?

[2016-06-15 12:49] fuhton commented on #112
@jdrf-digitaldesigner Can you review and confirm?

[2016-06-15 12:49] fuhton commented on #114
@jdrf-digitaldesigner Can you review and confirm?

[2016-06-15 12:49] fuhton commented on #115
@jdrf-digitaldesigner Can you review and confirm?

[2016-06-15 12:49] fuhton commented on #118
@jdrf-digitaldesigner Can you review and confirm?

[2016-06-15 12:50] pmmck opened #151 "Grid breakpoints and widths"
The DS says:

This isn't quite true.   We are using different breakpoints and max-width for containers.   This image is almost correct — we've since updated that first breakpoint to 360px.

![image](https://cloud.githubusercontent.com/assets/385391/16080315/27f00e3e-32d6-11e6-861c-d9890c685971.png)

[2016-06-15 12:50] fuhton commented on #119
@pmmck @jdrf-digitaldesigner Should we move "Icon Only Buttons" to the Buttons section as well?

[2016-06-15 12:53] pmmck opened #152 "Color variable names"
Change:

`$primary-blue: #0073cf;
$primary-dark-blue: #002855;`

to:

`$jdrf-blue: #0073cf;
$jdrf-dark-blue: #002855;`

Which means we no longer need:

`$jdrf-blue: $primary-blue;`

And this can be changed from: `$brand-primary: $primary-blue;` to `$brand-primary: $jdrf-blue;`

[2016-06-15 12:57] jdrf-digitaldesigner commented on #110
Confirmed. Thx!

[2016-06-15 12:57] #110 closed

[2016-06-15 12:58] jdrf-digitaldesigner commented on #112
Confirmed. Thx!

[2016-06-15 12:58] #112 closed

[2016-06-15 13:05] jdrf-digitaldesigner commented on #114
Confirmed. Thx!

[2016-06-15 13:05] #114 closed

[2016-06-15 13:06] pmmck opened #153 "Text Colors"
After spending some more time with these rgba colors, we think it's best to use HEX for all.  The exception being the reversed text.  A transparent white makes the most sense there.

Change: `$jdrf-black: #000000;` To `$jdrf-black: #212121;`

Change:

[code]

To:

[code]

cc @jdrf-digitaldesigner

[2016-06-15 13:10] jdrf-digitaldesigner commented on #118
Confirmed. Thx!

[2016-06-15 13:10] #118 closed

[2016-06-15 13:12] RachelRVasquez commented on #116
@fuhton

Submitted a PR:

https://github.com/JDRF/design-system/pull/154

[2016-06-15 13:21] jdrf-digitaldesigner commented on #119
Yes, please move "Icon-only Buttons" to the Buttons section as well. Thx

[2016-06-15 13:23] jdrf-digitaldesigner commented on #124
Confirmed. Thx!

[2016-06-15 13:24] jdrf-digitaldesigner commented on #115
Confirmed. Thx!

[2016-06-15 13:24] #115 closed

[2016-06-15 13:24] jdrf-digitaldesigner commented on #109
Confirmed. Thx!

[2016-06-15 13:24] #109 closed

[2016-06-15 13:26] fuhton opened #155 "Badges should be hashbangs"
When clicking on a badge link - it takes us to the top of the page.

Let's switch them to hashbangs (#!) like every other link on the gh-pages branch.

[2016-06-15 13:28] fuhton commented on #116
@RachelRVasquez This makes the button groups not work correctly.

[2016-06-15 13:29] RachelRVasquez commented on #117
@pmmck @jdrf-digitaldesigner

I'm currently working on this ticket and noticed the height of 40px we placed on the buttons isn't giving the icon the correct room to be vertically centered. With the correct icon font size and line height (20px) as well as the top/bottom padding (10px), the natural height of this button would be 44px instead of 40px. Should we let these buttons remain their natural

[2016-06-15 13:31] RachelRVasquez commented on #117
Disregard deleted comment about vertical alignment - it appears there was a 2px interfering.

[2016-06-15 13:34] RachelRVasquez commented on #117
@fuhton

Submitted 2 PRs:

https://github.com/JDRF/design-system/pull/156

https://github.com/JDRF/design-system/pull/157

[2016-06-15 13:37] pmmck opened #158 "Variables File"
I'd like to discuss removing the `@import "scss/variables";` and have all variables in our file.

The benefits I see:

- Removes the need to compare two different files to get the full picture of the DS's variables.
- Turns our variables file into a Single Source of Truth for JDRF styles.  If a vendor is not able to use our HTML for whatever reason, we can at least provide them our variables file

[2016-06-15 13:50] fuhton commented on #116
Confirmed to work the same as http://v4-alpha.getbootstrap.com/components/button-group/#basic-example

[2016-06-15 14:02] pmmck commented on #135
@jdrf-digitaldesigner

I'm realizing now that this probably isn't the best example to use for the Design System documentation.  This particular case with the "disclaimer intro copy" is is a variation specific to the Promotions That Give Back content.  And we can probably achieve the style variation using <small> and .muted.

thoughts?

cc @RachelRVasquez @fuhton

[2016-06-15 14:10] jdrf-digitaldesigner commented on #135
@pmmck

This makes sense on my end, as long as we're able to set the Content Area to a two-column layout. Thx

[2016-06-15 14:15] pmmck commented on #135
@jdrf-digitaldesigner so perhaps this is an example of a card without a header or footer and a rich layout inside?  We could just remove the disclaimer piece from this.

cc @RachelRVasquez  @fuhton

[2016-06-15 14:22] fuhton commented on #158
This makes sense to me. @RachelRVasquez Thoughts?

[2016-06-15 14:35] jdrf-digitaldesigner commented on #116
Confirmed. Thx!

[2016-06-15 14:35] #116 closed

[2016-06-15 14:36] RachelRVasquez commented on #119
@fuhton Submitted two PRs:

https://github.com/JDRF/design-system/pull/159

https://github.com/JDRF/design-system/pull/160

[2016-06-15 14:46] RachelRVasquez commented on #158
@fuhton My only concern is since Bootstrap is being pulled from node_modules, if there's ever a Bootstrap upgrade and variables change/get removed/added, our custom variable file would have to be reviewed every time. Since Bootstrap relies so heavily on variables, there's a potential the DS will break with future upgrades.

From reviewing the variables file as well - about half of them are overwri

[2016-06-15 14:48] RachelRVasquez commented on #137
This has been resolved in this issue: https://github.com/JDRF/design-system/pull/160

[2016-06-15 15:14] pmmck commented on #158
@RachelRVasquez @fuhton

In my mind, Bootstrap was a great way to get a head start.  It should not be a dependency for the long term.   I anticipate only moving further from Bootstrap over time.

[2016-06-15 15:38] jdrf-digitaldesigner opened #161 "Design System - Cards - ds-card-img-top"
.f-example .ds-card - Update max-width to remove white gap on right side (also happens on "ds-card-block")
![screen shot 2016-06-15 at 11 24 45 am](https://cloud.githubusercontent.com/assets/19931482/16085944/cf5e4ee6-32eb-11e6-88a6-d66433fe4b3c.png)

ds-card-block - Update T, B, L, R Padding: 16px

ds-card-title - Update margin-bottom: 16px

ds-card-text - Update margin-bottom: 16px

ds-btn - Upd

[2016-06-15 15:49] jdrf-digitaldesigner opened #162 "Design System - Cards - ds-card-img-top w/list"
.f-example .ds-card - Update max-width to remove white gap on right side

ds-card-block - Update T, L, R Padding: 16px

ds-list-group-item - Update T, B, L, R Padding: 16px

ds-card-block - Update T, B, L, R Padding: 8px

Use "ds-btn ds-btn-link" instead of current "ds-card-link

Thx,

Ismael

[2016-06-15 15:53] briansaycocie commented on #138
Hey @jdrf-digitaldesigner,

Would you like to move the Image Cap card example above the Featured Hero card? Can you elaborate a bit on the organization?

Thanks!
Brian

[2016-06-15 15:59] pmmck opened #163 "Elevation Mixins"
A few thoughts:

[code]
Don't we use "no-*" as the naming convention for this sort of thing?  So it would be `no-elevation`?

--

The opacities seem to be rounding up and down.  Is there a reason why, for example, `rgba(0, 0, 0, 0.2)` is being used instead of `rgba(0, 0, 0, 0.24)`?

[2016-06-15 16:04] jdrf-digitaldesigner opened #164 "Design System - Cards - ds-card w/header and footer"
id=phantom-ds-card-content-type-title-subtitle-image-text-links

Header padding - Update T, B, L, R Padding: 16px

ds-card-text - Update T, L, R Margins: 16px, Bottom Margin: 8px

Use "ds-btn ds-btn-link" instead of current "ds-card-link

ds-btn ds-btn-link - Update T, L, R Margins: 8px, Bottom Margin: 12px

*Remove "cap" from image

Thx,

Ismael

[2016-06-15 16:16] jdrf-digitaldesigner opened #165 "Design System - Cards - phantom-ds-card-content-type-title-text-links"
ds-card-title - Update T, L, R Margins: 16px, Bottom Margin: 8px

ds-card-text - Update L, R Margins: 16px

Use "ds-btn ds-btn-link" instead of current "ds-card-link

ds-btn ds-btn-link - Update T, L, R Margins: 8px, Bottom Margins: 12px

Thx,

Ismael

[2016-06-15 16:41] briansaycocie commented on #133
@jdrf-digitaldesigner with this change, the button text is not completely left aligned with the rest of the content due to the padding around the button. To fix, I can add a negative left margin on the button, but on hover the button will not line up. Thoughts?

![text-left-align](https://cloud.githubusercontent.com/assets/1328262/16088734/1c0516ec-32ee-11e6-9a8d-871b91c9f7d6.jpg)

[2016-06-15 16:42] pmmck opened #166 "Font Size Variables"
[code]

- Does `*-lg` stand for "Large"?  If so, shouldn't the large be greater than 1rem?
- Is there a $font-size-base?

[2016-06-15 16:44] jdrf-digitaldesigner opened #167 "Design System - Cards - ds-card ds-card-program"
.ds-card-program - Update border-left: 4px

ds-card-block - Update padding-left: 28px

ds-card-subtitle - Update margin-bottom: 8px

ds-card-title - Update to H3, margin-bottom: 8px

ds-card-location - Add Location icon

Thx,

Ismael

[2016-06-15 16:45] pmmck opened #168 "Button Colors"
[code]

Depending on the site's color theme, buttons could be blue, green, purple, orange, magenta.

Does it make sense to set the button colors in variables rather than declaring a specific color?

[2016-06-15 16:49] jdrf-digitaldesigner commented on #133
@briansaycocie

The Button should have an 8px L, R Padding, and negative 8px Margin in order for the CTA and the rest of the text elements to be aligned. Thx

[2016-06-15 16:54] jdrf-digitaldesigner commented on #138
@briansaycocie

Yes. We would start with the Image Cap Card examples, and then follow with the others as they are all Cards with Header and/or Footer in essence. Does that help, or should I provide IDs? Let me know.

Thx,

Ismael

[2016-06-15 16:54] fuhton commented on #158
@pmmck That makes sense.

@RachelRVasquez While I agree, maybe it would be better to import Bootstraps sass into our styles.scss and then include our own variables.scss file afterwords.

[2016-06-15 16:55] briansaycocie commented on #138
Great! IDs would be fantastic. Thanks!

[2016-06-15 16:58] #137 closed

[2016-06-15 16:58] fuhton commented on #119
Merged.

[2016-06-15 16:59] fuhton commented on #119
@jdrf-digitaldesigner This is ready for you to review and close.

[2016-06-15 17:15] jdrf-digitaldesigner commented on #138
**Image Cap:**
phantom-ds-card-image-cap

phantom-ds-card-content-type-image-title-text-button

phantom-ds-card-content-type-image-title-text-list-links

phantom-ds-card-content-type-image-text

**Header and Footer:**
phantom-ds-card-featured-hero

phantom-ds-card-featured

phantom-ds-card-content-header-footer

phantom-ds-card-content-header

phantom-ds-card-content-type-title-subtitle-image-text

[2016-06-15 17:20] pmmck commented on #158
@fuhton are you thinking our style.scss file would look something like (abbreviated for brevity)...

// JDRF variables and mixins
@import 'variables';
@import 'mixins';

// Bootstrap Mixins
@import 'vendor/bootstrap/mixins/border-radius';
@import 'vendor/bootstrap/mixins/clearfix';

// JDRF Mixins
@import 'mixins/buttons';

// Bootstrap CSS
@import 'normalize';
@import 'reboot';
@import 'utilities

[2016-06-15 17:48] fuhton commented on #158
More like
[code]

[2016-06-15 17:51] fuhton commented on #123
Merged.

@jdrf-digitaldesigner Please review and confirm.

[2016-06-15 17:51] fuhton commented on #127
Merged.

@jdrf-digitaldesigner Please review and confirm.

[2016-06-15 17:51] fuhton commented on #162
Merged.

@jdrf-digitaldesigner Please review and confirm.

[2016-06-15 17:52] fuhton commented on #124
Merged.

@jdrf-digitaldesigner Please review and confirm.

[2016-06-15 17:52] #124 closed

[2016-06-15 17:52] pmmck commented on #158
@fuhton So to understand the DS variables I have to compare two files?  I have to open the Bootstrap variables file and the JDRF variables file and do a Diff?

[2016-06-15 17:52] fuhton commented on #133
Merged.

@jdrf-digitaldesigner Please review and confirm.

[2016-06-15 17:53] fuhton commented on #158
Good point. @RachelRVasquez Thoughts?

[2016-06-15 17:59] pmmck opened #171 "Button Shadows"
[code]

Shouldn't we be using the elevation mixins for button shadows?

[2016-06-15 18:05] pmmck opened #172 "Card Text Muted Variable"
[code]

Is the `$text-muted` specific to the cards?  Or the entire DS?

[2016-06-15 18:26] jdrf-digitaldesigner commented on #119
Can you please update the button sizes to: 48px, 40px, and 32px (height)? Thx

[2016-06-15 18:28] jdrf-digitaldesigner commented on #123
Confirmed. Thx!

[2016-06-15 18:28] #123 closed

[2016-06-15 18:29] RachelRVasquez commented on #171
@fuhton PR created:

https://github.com/JDRF/design-system/pull/173

[2016-06-15 18:32] jdrf-digitaldesigner commented on #127
Please change border-bottom-width to: 1px, and color to: #E0E0E0. Thx

[2016-06-15 18:39] pmmck opened #174 "Border radius is not relative"
[code]

Border radius should be set in pixels, not rems.

[2016-06-15 18:44] pmmck opened #175 "Add button border variable for large buttons"
After spending some more time with this, I've realized we need two border sizes.

[code]

cc @jdrf-digitaldesigner

[2016-06-15 18:47] pmmck opened #176 "Strong Text font family"
[code]

Please change to `$font-medium'

[2016-06-15 18:50] pmmck opened #177 "Cards are not using the elevation mixins"
[code]

[2016-06-15 18:57] jdrf-digitaldesigner commented on #133
Can you please move the "ds-btn ds-btn-link" buttons 8px over to the left?
![screen shot 2016-06-15 at 2 57 07 pm](https://cloud.githubusercontent.com/assets/19931482/16093325/7ded8f68-3309-11e6-88f5-1f674a7e4439.png)

[2016-06-15 19:09] fuhton commented on #171
Merged.

[2016-06-15 19:09] #171 closed

[2016-06-15 19:11] fuhton commented on #175
@pmmck Where would the larger border be applied? Just the large buttons?

[2016-06-15 19:13] briansaycocie commented on #139
@jdrf-digitaldesigner Would you prefer if the copy "cap" was removed for all images? Or specifically for Content Cards? Just wanted to double check. Thanks!

[2016-06-15 19:14] pmmck opened #178 "Create Momentum Line Mask Mixin"
It would be great to standardize the angle of this momentum line and be able to easily apply it to any container.  More discussion needed, but wanted to capture the idea here.

https://invis.io/RQ72JVSBD#/167056129_Momentum_Mask

[2016-06-15 19:16] #151 closed

[2016-06-15 19:17] pmmck opened #179 "Five or 5?"
We use `$grey-5` and `$elevation-five`

Should we stick with numbers or words?

[2016-06-15 19:19] fuhton commented on #179
@RachelRVasquez I'm partial to numbers, basically because of bootstrap's conventions ( col-12 ).

Thoughts?

[2016-06-15 19:20] jdrf-digitaldesigner commented on #162
Looks good, but can the buttons be on the same line, with an 8px margin? Also, can you please increase the "ds-card-text" margin-bottom to 24px? Thx

[2016-06-15 19:30] jdrf-digitaldesigner commented on #139
Removing it from the following Cards:
phantom-ds-card-featured

phantom-ds-card-content-header-footer

phantom-ds-card-content-header

phantom-ds-card-content-type-title-subtitle-image-text-links

Thx,

Ismael

[2016-06-15 19:32] briansaycocie commented on #139
Perfect, thanks!

[2016-06-15 19:34] pmmck commented on #175
@fuhton only to large outline buttons.  So outline buttons by default, and at small sizes, have a 1px border.  But when we use the large outline buttons it's mostly for a Call To Action situation and so the 2px border is more appropriate.

[2016-06-15 19:41] briansaycocie commented on #133
Excellent thanks for the screenshot @jdrf-digitaldesigner!

[2016-06-15 19:42] fuhton commented on #136
Merged. @jdrf-digitaldesigner Ready for you to re-review

[2016-06-15 19:42] fuhton commented on #139
Merged. @jdrf-digitaldesigner Ready for you to re-review

[2016-06-15 19:56] jdrf-digitaldesigner commented on #139
Can you please remove it from phantom-ds-card-content-header? Thx

[2016-06-15 19:59] RachelRVasquez commented on #165
@fuhton

PR submitted: https://github.com/JDRF/design-system/pull/182

[2016-06-15 20:03] jdrf-digitaldesigner commented on #136
Can you please remove the "ds-card-subtitle" padding-top? Thx

[2016-06-15 20:05] RachelRVasquez commented on #176
@pmmck Reviewed the Zeplin files and noticed Gotham Bold is specified in the Typography section. So far though, it doesn't appear that we use this font family. Are there cases where this font family comes into play or should it be removed?

cc: @fuhton

[2016-06-15 20:11] pmmck commented on #158
I agree with this approach.  I think the variables file is the only exception.  It's important to me that I have a single source of truth for all the variables that are controlling the DS.

@fuhton @RachelRVasquez

[2016-06-15 20:12] pmmck commented on #176
@RachelRVasquez there is a good chance we will soon.  Let's keep it in there for now.  Thanks!

[2016-06-15 20:17] RachelRVasquez commented on #175
@fuhton

PR submitted: https://github.com/JDRF/design-system/pull/185

[2016-06-15 20:20] RachelRVasquez commented on #176
@fuhton PR submitted: https://github.com/JDRF/design-system/pull/186

[2016-06-15 20:21] RachelRVasquez commented on #179
@pmmck @fuhton Agreed. Let's swap for numbers. Will update the code as well as documentation/examples to reflect the change.

[2016-06-15 20:30] fuhton commented on #158
@pmmck Agreed. @RachelRVasquez Thoughts?

[2016-06-15 20:31] fuhton commented on #165
Merged. @jdrf-digitaldesigner Can you review?

[2016-06-15 20:34] jdrf-digitaldesigner opened #187 "Design System - Badges - ds-label ds-label-outline"
Update L, R Padding: 8px, T, B Padding: 4px

Update font-weight: Medium

Update color to Hex value

Thx,

Ismael

[2016-06-15 20:42] jdrf-digitaldesigner opened #188 "Design System - Badges - ds-label ds-label-default"
Update title to "Solid"

Update font-weight: Medium

Update bacground-color: #9E9E9E

Thx,

Ismael

[2016-06-15 20:44] pmmck opened #189 "Remove outline from buttons :focus"
![screen shot 2016-06-15 at 4 42 44 pm](https://cloud.githubusercontent.com/assets/385391/16096767/72febce4-3318-11e6-9c3b-f31680558a16.png)

[2016-06-15 20:45] RachelRVasquez commented on #179
@pmmck @fuhton Are we just re-naming variables or class names too? Like the elevation classes?

http://jdrf.github.io/design-system/dist/layout.html#elevation

[2016-06-15 20:50] fuhton commented on #179
@RachelRVasquez Is this the only place we're spelling numbers out for class names?

[2016-06-15 20:52] fuhton commented on #176
Merged. @pmmck @jdrf-digitaldesigner Please confirm.

[2016-06-15 20:52] RachelRVasquez commented on #179
@fuhton To my knowledge from reviewing the io site, yep, it looks like everything else uses numbers including the Display typography classes.

[2016-06-15 20:53] fuhton commented on #175
Merged. @pmmck @jdrf-digitaldesigner Please confirm.

[2016-06-15 20:53] fuhton commented on #117
Merged. @pmmck @jdrf-digitaldesigner Please confirm.

[2016-06-15 20:53] pmmck opened #190 "Link button elevation and hover color"
![screen shot 2016-06-15 at 4 50 26 pm](https://cloud.githubusercontent.com/assets/385391/16096947/47c4b604-3319-11e6-9cf9-8c0db762d78e.png)

1. Link buttons don't gain elevation when active.
2.  On hover, use the more subtle `background-color: $grey-3;` instead of `$grey-4`

[2016-06-15 20:53] briansaycocie commented on #119
@jdrf-digitaldesigner I've adjusted the icon sizes in each button so it matches the Zeplin specs (24px, 20px, 16px), however adding the icon inside the button increases the height of the button just slightly that it's no longer 48px, 40px, 32px but instead 60px, 48px, 36px. We can reduce the size of the icons so it's more inline with 48px, 40px, 32px but I wanted to get your thoughts before I proc

[2016-06-15 20:55] fuhton commented on #133
Merged. @jdrf-digitaldesigner Please confirm.

[2016-06-15 20:55] fuhton commented on #161
Merged. @jdrf-digitaldesigner Please confirm.

[2016-06-15 20:55] fuhton commented on #139
Merged. @jdrf-digitaldesigner Please confirm.

[2016-06-15 20:56] fuhton commented on #179
@RachelRVasquez Awesome. Yes - let's change class and variable names to use the numeric representations of numbers.

[2016-06-15 21:00] jdrf-digitaldesigner commented on #165
Update "ds-card-title" to H3 size and color

Update "ds-card-title" margin-bottom: 8px

Update "ds-card-text" margin-bottom: 8px

Place both "ds-btn ds-btn-link" Buttons on the same line, move 8px to the left, and remove margin-bottom

Update "ds-card ds-card-block" padding-bottom: 12px

Thx,

Ismael

[2016-06-15 21:02] jdrf-digitaldesigner commented on #161
Confirmed. Thx!

[2016-06-15 21:02] #161 closed

[2016-06-15 21:03] jdrf-digitaldesigner commented on #139
Confirmed. Thx!

[2016-06-15 21:03] #139 closed

[2016-06-15 21:05] jdrf-digitaldesigner commented on #133
Can the Button alignment also be reflected on the following cards?

phantom-ds-card-content-type-title-subtitle-image-text-links

phantom-ds-card-content-type-title-text-links

Thx,

Ismael

[2016-06-15 21:05] RachelRVasquez commented on #179
@fuhton Submitted two PRs:

https://github.com/JDRF/design-system/pull/191

https://github.com/JDRF/design-system/pull/192

[2016-06-15 21:08] fuhton commented on #179
Merged! @pmmck @jdrf-digitaldesigner Please confirm.

[2016-06-15 21:14] jdrf-digitaldesigner commented on #117
Confirmed. Thx!

[2016-06-15 21:21] RachelRVasquez commented on #189
@fuhton PR submitted: https://github.com/JDRF/design-system/pull/193

[2016-06-15 21:23] fuhton commented on #189
Merged. @pmmck @jdrf-digitaldesigner Please review.

[2016-06-15 21:24] #117 closed

[2016-06-15 21:39] pmmck commented on #189
LGTM.

[2016-06-15 21:39] #189 closed

[2016-06-15 21:40] pmmck commented on #175
LGTM.

[2016-06-15 21:40] #175 closed

[2016-06-15 21:41] pmmck commented on #176
LGTM.

[2016-06-15 21:41] #176 closed

[2016-06-15 21:52] RachelRVasquez commented on #190
@fuhton PR submitted: https://github.com/JDRF/design-system/pull/195

[2016-06-15 22:05] RachelRVasquez commented on #172
I'm not sure if we're still using this variable? I started removing it in some areas where the color could just be applied to the element as far as the cards go to prevent too many classes for a global style. E.g. `.ds-card-header`.  Thoughts @briansaycocie?

[2016-06-15 22:07] pmmck commented on #179
LGTM!

[2016-06-15 22:07] #179 closed

[2016-06-15 22:08] pmmck commented on #172
@RachelRVasquez we will definitely want a muted class that we can apply to text elements.  Promotions That Give Back is a good example.  Where we have a special case for one of the card's headers to be a subtle note.  A muted class would eliminate the need for a variation in the cards css.

@briansaycocie

[2016-06-15 22:11] pmmck commented on #119
@briansaycocie how about a `.has-icon` class that when applied to a button reduces the vertical padding?  That way we can keep the buttons sizes consistent and use bigger icons that are easier to read.  Thoughts?

cc @RachelRVasquez @jdrf-digitaldesigner

[2016-06-15 23:13] fuhton commented on #190
@RachelRVasquez Comment from Patrick on PR.

[2016-06-15 23:14] fuhton commented on #119
Seems like too many classes to be added.

[2016-06-15 23:17] fuhton commented on #135
Merged. @jdrf-digitaldesigner @pmmck Please review.

[2016-06-15 23:17] fuhton commented on #134
Merged. @jdrf-digitaldesigner @pmmck Please review.

[2016-06-15 23:17] fuhton commented on #130
Merged. @jdrf-digitaldesigner @pmmck Please review.

[2016-06-15 23:18] fuhton commented on #129
Merged. @jdrf-digitaldesigner @pmmck Please review.

[2016-06-15 23:18] fuhton commented on #128
Merged. @jdrf-digitaldesigner @pmmck Please review.

[2016-06-15 23:18] fuhton commented on #127
Merged. @jdrf-digitaldesigner @pmmck Please review.

[2016-06-15 23:18] fuhton commented on #126
Merged. @jdrf-digitaldesigner @pmmck Please review.

[2016-06-16 00:57] briansaycocie commented on #136
Resolved in these PRs: #199 and #200

[2016-06-16 03:10] RachelRVasquez commented on #165
@jdrf-digitaldesigner  @pmmck

I've completed the first three changes but have a question about the last two:

Are we trying to align the buttons to the left of the card with the rest of the content? In this case - do we want to stick with using button styles for this card or keep them as regular links? Assuming that this card can be filled in various ways, I want to prevent adding styles to this

[2016-06-16 03:17] RachelRVasquez commented on #190
@fuhton PR has been updated.

[2016-06-16 03:20] RachelRVasquez commented on #174
@fuhton PR submitted: https://github.com/JDRF/design-system/pull/203

[2016-06-16 03:25] RachelRVasquez commented on #168
@pmmck @fuhton To clarify, are you asking if we can create different classes that can be applied aside from the standard `.btn` so the colors can be changed?

[2016-06-16 03:28] RachelRVasquez commented on #166
@pmmck

The base size is Bootstrap's default at 16px. The `*-lg` does stand for large. The Zeplin button designs  for large buttons have the font-size at 14px which is smaller than the base of 16. 1rem will be the base of 16.

[2016-06-16 03:34] RachelRVasquez commented on #158
@fuhton @pmmck I agree with not splitting the variables into two separate files, especially when they're grouped together in our current file so we can see at a glance where to edit something. I'd say right now, how our current variables file is set, it's not necessary to remove the import just yet. Most of the variables from Bootstrap are still defined in Bootstrap and it appears like it's more i

[2016-06-16 11:57] fuhton commented on #190
Merged. @pmmck @jdrf-digitaldesigner Please review.

[2016-06-16 11:57] fuhton commented on #174
Merged. @pmmck @jdrf-digitaldesigner Please review.

[2016-06-16 12:03] fuhton commented on #136
Merged. @pmmck @jdrf-digitaldesigner Please review.

[2016-06-16 12:33] RachelRVasquez commented on #163
@pmmck Is this based on the class we use for ripple? http://jdrf.github.io/design-system/dist/components.html#buttons

We haven't set it as a standard, but we can go either way (remove/no) to create one.

As for the opacities, I believe they were set early on and possibly changed so I'll check to see if we missed any of the older styles for updates.

cc: @fuhton

[2016-06-16 12:36] pmmck commented on #163
@RachelRVasquez ah, yes, the `.no-ripple` is what I was thinking of.   `.no-ripple` or `.ripple-remove` seems like a personal preference.  I'd just like us to be consistent about it.

[2016-06-16 12:38] RachelRVasquez opened #204 "Flat elevation breaking the inline elevation samples"
It looks like the elevations are no longer inline with the addition of "flat".

http://jdrf.github.io/design-system/dist/layout.html#elevation

![screen shot 2016-06-16 at 8 36 37 am](https://cloud.githubusercontent.com/assets/10246844/16116947/8c72ca14-339d-11e6-8f9d-2d9352fd53c2.png)

[2016-06-16 12:39] pmmck commented on #174
LGTM.

[2016-06-16 12:39] #174 closed

[2016-06-16 12:40] pmmck commented on #190
LGTM.

[2016-06-16 12:40] #190 closed

[2016-06-16 12:43] pmmck commented on #158
@RachelRVasquez is there a variable in the Bootstrap file that is controlling anything in the Design System?

cc @fuhton

[2016-06-16 12:49] jdrf-digitaldesigner commented on #126
The Featured Cards' Headers still show up as 41px high. Thx

[2016-06-16 12:52] jdrf-digitaldesigner commented on #127
Confirmed. Thx!

[2016-06-16 12:52] #127 closed

[2016-06-16 12:53] RachelRVasquez commented on #163
@fuhton

PRs submitted and classes set to "no".

https://github.com/JDRF/design-system/pull/205

https://github.com/JDRF/design-system/pull/206

[2016-06-16 12:53] RachelRVasquez commented on #204
@fuhton This has been resolved in this issue/PR:

https://github.com/JDRF/design-system/issues/163

[2016-06-16 12:58] pmmck commented on #119
Adding 3 new button heights is not an option because they will change the balance of the layout.  And decreasing the icon size is not an option because of minimum legibility sizes — and they just look better.

The two solutions I can think of are:

1. Adding a modifier like `.has-icon` to existing buttons.
2. Creating new buttons.

The downside of the modifier approach is that you have to add an a

[2016-06-16 12:59] RachelRVasquez commented on #158
@pmmck To clarify, are you asking if we're using any variables from Bootstrap's variable file? We may not be using all of them, but we are using any that are being called from files with the `@import` in our overwrite files - for things like inline text elements, the grid, badges etc. Whatever we don't overwrite ourselves, it falls back to Bootstrap's imported file.

cc: @fuhton

[2016-06-16 13:02] RachelRVasquez commented on #153
@fuhton

PR: https://github.com/JDRF/design-system/pull/207

[2016-06-16 13:04] pmmck commented on #158
@RachelRVasquez I'm fine with importing variables if we aren't using them in the DS.  But all variables related to the DS must be in our variables file.

cc @fuhton

[2016-06-16 13:09] pmmck commented on #168
@RachelRVasquez different JDRF sites use different button colors.   For example, the JDRF One Walk website uses orange buttons.  The Ride website uses green buttons.

How can we setup our css so that a developer can easily set the:

- Button color
- Outline and Link button color

cc @fuhton

[2016-06-16 13:11] pmmck commented on #166
@RachelRVasquez if this variable is specific to buttons, shouldn't it be `.btn-font-size-lg`?

[2016-06-16 13:13] jdrf-digitaldesigner commented on #165
We're trying to achieve the same structure as "phantom-ds-card-content-type-image-title-text-list-links" where the buttons are positioned 8px from the left border in order for the Button Labels to align with the other text elements, in the card.

<img width="346" alt="screen shot 2016-06-16 at 9 13 05 am" src="https://cloud.githubusercontent.com/assets/19931482/16117928/9c71ecd8-33a2-11e6-9883-bd2

[2016-06-16 13:20] jdrf-digitaldesigner commented on #136
The padding-top on "phantom-ds-card-image-cap" needs to be removed. Thx

[2016-06-16 13:23] RachelRVasquez commented on #119
@pmmck I originally removed any height restrictions on the icon buttons so we can let the icons determine the height. Forcing a height on the left/right icon buttons as well as the icon button toolbar won't guarantee vertical alignment due to the unknown icons that will be swapped out. Since we can't predict what icons will be used, it makes sense to keep them as maintainable as possible by lettin

[2016-06-16 13:26] pmmck commented on #119
@RachelRVasquez I have to put my foot down here.  We cannot have variations on our button heights.

cc @briansaycocie @fuhton @jdrf-digitaldesigner

[2016-06-16 13:31] jdrf-digitaldesigner commented on #135
Please remove "ds-card-header"

Update margin between the two "ds-card-subtitle" elements: 12px

Update Location icon to "Location-on" icon

Thx,

Ismael

[2016-06-16 13:36] RachelRVasquez commented on #166
@pmmck Naming conventions were based on Bootstrap's existing naming conventions. So if Bootstrap already had a variable `$font-size`, and we needed to expand on that, to prevent confusion, we kept the name and tacked on something of our own appended to it. This way we can still tell from a glance what we're overwriting while at the same time creating new variables related to the original variable.

[2016-06-16 13:42] jdrf-digitaldesigner commented on #130
Confirmed. Thx!

[2016-06-16 13:42] #130 closed

[2016-06-16 13:43] jdrf-digitaldesigner commented on #128
Confirmed. Thx!

[2016-06-16 13:43] #128 closed

[2016-06-16 13:49] pmmck commented on #166
@RachelRVasquez But 14px is not our large font size... If I wanted to _decrease_ the font size from our base of 16px I would use 14px.  To do so would mean I need to use a variable with the name large.  That doesn't make sense.

[2016-06-16 14:09] jdrf-digitaldesigner commented on #134
Looks good, but can we keep the “ds-btn-link” Buttons left-justified <768? Thx

[2016-06-16 14:21] fuhton opened #208 "Dark Colors"
In Zeplin, Text and outline buttons require a darker variation of the button colors. It'd be great to include this programmatically using SASS's built-in mixin darken();

These only affect outline buttons.

[2016-06-16 14:22] fuhton commented on #168
Let's update the documentation to include that 3-6 lines of CSS are required to modify interactive colors.

Let's provide a clear example of this in use and suggest that the user add the CSS block immediately after the DS inclusion in the head. It needs to be included in the following pages and directly spell out how to use it.

* Downloads
* Buttons
* Colors

[2016-06-16 14:25] fuhton commented on #119
@RachelRVasquez

Material icons are a set size. Let's add another class for icons called `.ds-btn-has-icon` that sets a static height (or reduced padding).

Let's update the docs in the buttons section and the icon section.

[2016-06-16 14:28] fuhton commented on #166
@RachelRVasquez Let's add a clear comment in the variable file around our decision, implementation, and reasoning for using font-lg.

[2016-06-16 14:36] pmmck commented on #158
@RachelRVasquez @fuhton let's wait until the Forms Milestone before moving forward with creating a single variables file i.e. Single Source of Truth.

[2016-06-16 14:38] fuhton commented on #165
@pmmck @jdrf-digitaldesigner Let's here your thoughts.

[2016-06-16 14:45] fuhton commented on #165
@RachelRVasquez We're not using the DS properly here. If we add this HTML it sorts properly.

[code]

[2016-06-16 14:47] pmmck commented on #134
Link buttons don't have the same responsive behavior as the other buttons.  They don't change width and they don't change alignment.

[2016-06-16 14:49] fuhton commented on #111
Working on a build tool. On launch 0.5.0

[2016-06-16 14:53] RachelRVasquez commented on #152
@fuhton PRs:

https://github.com/JDRF/design-system/pull/210

https://github.com/JDRF/design-system/pull/211

[2016-06-16 15:05] jdrf-digitaldesigner opened #212 "Design System - Badges - Sizes"
Update all Badges Padding: L, R: 8px, T, B: 4px

Update all H3 Titles "Heading Three" Line Height: 32px

Update all H1 and H2 Badges font-weight: Book, and others to font-weight: Medium

*Solid Badges - Update background-color: #9e9e9e

Thx,

Ismael

[2016-06-16 15:07] RachelRVasquez commented on #208
@fuhton PR: https://github.com/JDRF/design-system/pull/213

[2016-06-16 15:17] RachelRVasquez commented on #165
@fuhton gh-pages PR updated with markup change.

[2016-06-16 15:34] fuhton commented on #136
Merged. @jdrf-digitaldesigner @pmmck Confirm?

[2016-06-16 15:34] fuhton commented on #153
Merged. @jdrf-digitaldesigner @pmmck Confirm?

[2016-06-16 15:35] fuhton commented on #163
Merged. @pmmck Confirm?

[2016-06-16 15:35] fuhton commented on #204
I still see this as an issue.

[2016-06-16 15:41] fuhton commented on #152
Merged. @pmmck Please confirm.

[2016-06-16 15:52] jdrf-digitaldesigner opened #216 "Design System - Badges - Variations"
Update Badge Padding: L, R: 8px, T, B: 4px

Update Badge font-weight: medium

Center Button Labels and Badges vertically

Add white border to Outline Button Hover state

Remove bottom row (see attachment)
![screen shot 2016-06-16 at 11 51 42 am](https://cloud.githubusercontent.com/assets/19931482/16123400/c8c0b524-33b8-11e6-92e0-bb22f6fb0b82.png)

Thx,

Ismael

[2016-06-16 15:57] jdrf-digitaldesigner commented on #136
Confirmed. Thx!

[2016-06-16 15:57] #136 closed

[2016-06-16 15:58] fuhton commented on #111
@pmmck This is merged and ready for a review.

[css](https://github.com/JDRF/design-system/blob/master/dist/css/design-system.css)
[js](https://github.com/JDRF/design-system/blob/master/dist/js/design-system.js)

They're both the same header.

[2016-06-16 15:59] jdrf-digitaldesigner commented on #129
Confirmed. Thx!

[2016-06-16 15:59] #129 closed

[2016-06-16 16:09] RachelRVasquez commented on #168
@fuhton PRs:

https://github.com/JDRF/design-system/pull/217

https://github.com/JDRF/design-system/pull/218

[2016-06-16 16:11] RachelRVasquez commented on #204
@fuhton Both PRs on #163 have not been merged yet to resolve this issue.

[2016-06-16 16:50] fuhton commented on #126
Merged. @jdrf-digitaldesigner @pmmck Please review.

[2016-06-16 16:51] fuhton commented on #134
Merged. @jdrf-digitaldesigner @pmmck Please review.

[2016-06-16 16:51] fuhton commented on #135
Merged. @jdrf-digitaldesigner @pmmck Please review.

[2016-06-16 16:53] fuhton commented on #168
Merged. @pmmck Please review.

[2016-06-16 16:54] briansaycocie commented on #162
@jdrf-digitaldesigner looks like the buttons are now on the same line https://jdrf.github.io/design-system/dist/components.html#cards.

With the .ds-card-text change, this bottom margin will be applied to all instances of .ds-card-text since this card is a standard/generic card. We can apply a class to change this, but then we add another level of complexity. Thoughts?

cc @fuhton @pmmck

[2016-06-16 16:56] pmmck commented on #111
@fuhton `JDRF Design System for managing styles` should be `JDRF Digital Design System for building official JDRF websites`

Is that too long?  It's more than just managing styles, because we already have components and will be adding patterns and templates.   And this can't be used unless the project is approved by JDRF.

[2016-06-16 17:05] jdrf-digitaldesigner opened #221 "Design System - Side Navigation"
**Single Level**
Change title of "ds-nav-link ds-current" to "Current Page"

**Two Levels**
Change title of "ds-nav-link ds-current" to "Current Page"

Remove repeating child list (below third Parent Link)

Thx,

Ismael

[2016-06-16 17:34] RachelRVasquez commented on #177
@briansaycocie This should be resolved once this ticket's PRs get approved. There was only one area I found in the cards that needed the mixin.

https://github.com/JDRF/design-system/issues/163

[2016-06-16 17:41] RachelRVasquez commented on #163
@fuhton Another PR has been submitted for master: https://github.com/JDRF/design-system/pull/222

[2016-06-16 17:52] pmmck commented on #152
LGTM.

[2016-06-16 17:52] #152 closed

[2016-06-16 17:56] RachelRVasquez commented on #208
@fuhton PRs:

https://github.com/JDRF/design-system/pull/223

https://github.com/JDRF/design-system/pull/224

[2016-06-16 17:57] pmmck commented on #168
@fuhton this works.  I have some tweaks to the copy which I will do via a Pull Request.

[2016-06-16 17:57] #168 closed

[2016-06-16 18:00] pmmck commented on #221
@fuhton your call if this is initial build or backlog.

[2016-06-16 18:01] pmmck commented on #153
LGTM.

[2016-06-16 18:01] #153 closed

[2016-06-16 18:20] RachelRVasquez opened #225 "Change padding to 16px on .ds-card-content for header/content"
Match padding to Zeplin for content card (details card).

[2016-06-16 18:22] pmmck opened #226 "White buttons"
![screen shot 2016-06-16 at 2 20 55 pm](https://cloud.githubusercontent.com/assets/385391/16128178/943342d0-33cd-11e6-930d-a003e526003c.png)

We appear to be missing the white raised button.

`.btn-primary-white`?

[2016-06-16 18:23] briansaycocie commented on #177
:excellent: thanks @RachelRVasquez!

[2016-06-16 18:26] jdrf-digitaldesigner commented on #135
Confirmed. Thx!

[2016-06-16 18:26] #135 closed

[2016-06-16 18:29] jdrf-digitaldesigner commented on #162
Got it. Confirmed. Thx!

[2016-06-16 18:29] #162 closed

[2016-06-16 18:42] RachelRVasquez commented on #225
@fuhton PRs:

https://github.com/JDRF/design-system/pull/227

https://github.com/JDRF/design-system/pull/228

[2016-06-16 18:57] jdrf-digitaldesigner commented on #134
Please update the “ds-btn-link” Buttons' alignment (8px from Left border) on the following Cards:
phantom-ds-card-content-type-title-subtitle-image-text-links

phantom-ds-card-content-type-title-text-links

Thx,

Ismael

[2016-06-16 19:02] jdrf-digitaldesigner commented on #126
Almost. It now comes up at 49px

[2016-06-16 19:03] briansaycocie commented on #134
Link button alignment resolved in this PR" #229

[2016-06-16 19:07] briansaycocie commented on #126
@jdrf-digitaldesigner it appears the border is causing the additional pixel. When I inspect the element and apply a value of 0, I get 48px tall. Thoughts?

![screenshot 2016-06-16 14 05 42](https://cloud.githubusercontent.com/assets/1328262/16129747/aa84ec34-33cb-11e6-9a7f-45172e53b135.png)

[2016-06-16 19:13] fuhton commented on #163
Merged. @pmmck Confirm?

[2016-06-16 19:14] fuhton commented on #208
Merged. @pmmck Confirm?

[2016-06-16 19:14] fuhton commented on #225
Merged. @pmmck Confirm?

[2016-06-16 19:15] fuhton commented on #134
Merged. @jdrf-digitaldesigner  Confirm?

[2016-06-16 19:16] fuhton commented on #126
@jdrf-digitaldesigner

@briansaycocie 's answer seems completely within the realm of reason and acceptability.

[2016-06-16 19:18] fuhton commented on #111
It's 6 characters too long in my opinion.

[2016-06-16 19:20] jdrf-digitaldesigner commented on #126
That makes, but could we place it along the bottom edge of the cell, instead of outside? We could use this as a convention for all Dividers.

![screen shot 2016-06-16 at 3 18 00 pm](https://cloud.githubusercontent.com/assets/19931482/16130127/c1cf19f0-33d5-11e6-95e9-cd2299f0f545.png)

[2016-06-16 19:20] #204 closed

[2016-06-16 19:22] briansaycocie commented on #164
@jdrf-digitaldesigner I believe these have been resolved from previous tickets. Can you confirm?

[2016-06-16 19:29] fuhton commented on #226
@pmmck I'd like to add this to the backlog and provide all the button colors as an example.

[2016-06-16 19:29] jdrf-digitaldesigner commented on #164
Confirmed. Thx!

[2016-06-16 19:29] #164 closed

[2016-06-16 19:31] jdrf-digitaldesigner commented on #134
Confirmed. Thx!

[2016-06-16 19:31] #134 closed

[2016-06-16 19:34] briansaycocie commented on #133
@jdrf-digitaldesigner please confirm.

[2016-06-16 19:37] fuhton commented on #126
@jdrf-digitaldesigner @pmmck I think it comes down to if this is possible with how we've integrated with Bootstrap. If there's a convention in Bootstrap that we're following - then the answer is no. But if we're doing this "because" and Bootstrap has the ability to allow us to implement your suggestion, then we should follow your suggestion.

cc @briansaycocie

[2016-06-16 19:42] jdrf-digitaldesigner commented on #126
Understood. Let's keep them at 49px. Thx!

[2016-06-16 19:42] #126 closed

[2016-06-16 19:51] jdrf-digitaldesigner commented on #225
Top and Bottom Padding is still showing as 10px on the following Cards:

phantom-ds-card-content-header-footer

phantom-ds-card-content-header

Thx,

Ismael

[2016-06-16 19:52] pmmck commented on #163
LGTM.

[2016-06-16 19:52] #163 closed

[2016-06-16 19:56] fuhton commented on #165
@RachelRVasquez Branch has an open comment and merge issues.

[2016-06-16 19:57] pmmck commented on #111
Let's drop the explanation and just use `JDRF Digital Design System`

[2016-06-16 19:58] fuhton commented on #225
@jdrf-digitaldesigner What should the padding be?

[2016-06-16 19:59] jdrf-digitaldesigner commented on #225
16px

[2016-06-16 20:01] fuhton commented on #111
Merged. @pmmck Confirm?

[2016-06-16 20:02] fuhton commented on #75
@pmmck If I were to add in some docs around our JS, where would that fit into the menu hierarchy?

[2016-06-16 20:19] pmmck commented on #111
LGTM.

[2016-06-16 20:19] #111 closed

[2016-06-16 20:21] fuhton commented on #167
Merged. @jdrf-digitaldesigner Review?

[2016-06-16 20:31] briansaycocie commented on #177
@jdrf-digitaldesigner please confirm.

[2016-06-16 20:37] jdrf-digitaldesigner commented on #133
Confirmed. Thx!

[2016-06-16 20:37] #133 closed

[2016-06-16 21:04] briansaycocie commented on #122
@jdrf-digitaldesigner @pmmck I double checked the values of the line-heights, padding, and margins. This all looks good. Can you please confirm?

[2016-06-16 21:13] fuhton commented on #225
Merged. @jdrf-digitaldesigner @pmmck Please review.

[2016-06-16 21:14] fuhton commented on #172
Merged. @jdrf-digitaldesigner @pmmck Please review.

[2016-06-16 21:14] fuhton commented on #138
Merged. @jdrf-digitaldesigner @pmmck Please review.

[2016-06-16 21:17] jdrf-digitaldesigner commented on #138
Confirmed. Thx!

[2016-06-16 21:17] #138 closed

[2016-06-16 21:20] jdrf-digitaldesigner commented on #167
Confirmed. Thx!

[2016-06-16 21:20] #167 closed

[2016-06-16 21:20] jdrf-digitaldesigner commented on #225
Confirmed. Thx!

[2016-06-16 21:20] #225 closed

[2016-06-16 22:03] pmmck commented on #177
LGTM thanks!

[2016-06-16 22:03] #177 closed

[2016-06-16 22:08] RachelRVasquez commented on #166
@fuhton PR: https://github.com/JDRF/design-system/pull/237

[2016-06-16 22:10] pmmck commented on #172
@fuhton I see the change where `.text-muted` has been added but i'm still seeing this variable grouped with the Card variables, even thought it's not specific to that component.

[2016-06-16 22:20] pmmck commented on #75
@fuhton how about creating a new parent section titled Get Started and include Download and Javascript, or whatever, as child pages underneath?

[2016-06-17 12:10] fuhton commented on #75
@pmmck Makes sense.

[2016-06-17 12:15] fuhton commented on #166
Merged. @pmmck Confirm?

[2016-06-17 13:12] jdrf-digitaldesigner commented on #122
Confirmed. Thx!

[2016-06-17 13:12] #122 closed

[2016-06-17 13:20] pmmck commented on #166
I understand this logic if it were only used for buttons. But it's starting to be used in other places, like card:

[code]

Seeing that I would wonder why the text address is larger than 16px on cards.

I think the font size variables should be:

[code]

If the `-lg` is important for the buttons.scss, Bootstrap has a precedent for using component specific variations of the font size:

[code]

So w

[2016-06-17 13:24] RachelRVasquez commented on #172
@fuhton PR: https://github.com/JDRF/design-system/pull/239

[2016-06-17 13:26] fuhton commented on #172
@pmmck This has been merged. Please review.

[2016-06-17 13:29] pmmck commented on #172
Perfect, thanks.

[2016-06-17 13:29] #172 closed

[2016-06-17 13:33] pmmck opened #240 "Mobile menu won't open"
Tapping "menu" icon in the header doesn't open a menu.

[2016-06-17 13:38] RachelRVasquez commented on #165
@fuhton PRs merge conflicts have been resolved.

[2016-06-17 13:47] fuhton commented on #165
Merged. @jdrf-digitaldesigner @pmmck Confirm?

[2016-06-17 14:00] jdrf-digitaldesigner commented on #165
Remove ds-card-block padding-bottom

Update ds-card-title to $jdrf-dark-blue

Thx,

Ismael

[2016-06-17 14:05] pmmck commented on #165
@jdrf-digitaldesigner the blue title is a function of being linked in our Promotions designs, correct?  Or is the intention that all cards will have blue titles regardless of the site's interactive color?

cc @fuhton

[2016-06-17 14:09] #221 closed

[2016-06-17 14:21] RachelRVasquez commented on #119
@fuhton I changed the name of the modifier classes so it wouldn't look too similar tp `.ds-btn-icon`. PRs submitted:

https://github.com/JDRF/design-system/pull/242

https://github.com/JDRF/design-system/pull/243

[2016-06-17 14:30] fuhton commented on #166
@RachelRVasquez CR submitted.

[2016-06-17 14:33] fuhton commented on #119
@pmmck Merged. Please confirm.

[2016-06-17 14:40] fuhton commented on #240
@pmmck I'm finding this as working.

[2016-06-17 14:43] fuhton commented on #155
@RachelRVasquez PR submitted.

[2016-06-17 14:44] jdrf-digitaldesigner commented on #165
@pmmck

Correct. However this style of card does not have a clickable title in the Bootstrap example, which is why I mentioned the dark blue, which we use on non-clickable links.

[2016-06-17 14:47] pmmck commented on #240
@fuhton you are correct, it is working on native mobile devices.  I tested both iOS and Android.  It seems to only be an issue on desktop with small viewport sizes.   Both Chrome and FF on OSX.

[2016-06-17 14:54] pmmck commented on #119
`.ds-btn-icon` seems to describe the icon.   Isn't the point of this class to describe a situation happening with the button?

[code]

That to me reads as "The icon inside of a button is 40px".

Whereas `.has-*` is a reusable pattern.   `.nav-has-search`, `.btn-has-icon`, etc.

[2016-06-17 14:57] fuhton commented on #119
@pmmck Good point. Sorry I missed this convention.

[2016-06-17 14:58] #166 closed

[2016-06-17 14:58] RachelRVasquez commented on #166
@fuhton Merged. May have to push the compiled files on your end.

[2016-06-17 15:00] pmmck commented on #165
@jdrf-digitaldesigner sorry, I missed that.  thanks!

[2016-06-17 15:00] fuhton commented on #240
@pmmck If you resize and **then** refresh the page is it working?

[2016-06-17 15:14] RachelRVasquez commented on #119
@fuhton PRs:

https://github.com/JDRF/design-system/pull/248

https://github.com/JDRF/design-system/pull/249

[2016-06-17 15:21] RachelRVasquez commented on #155
@fuhton Merged.

[2016-06-17 15:28] fuhton commented on #119
Merged. @pmmck Please confirm.

[2016-06-17 15:41] #155 closed

[2016-06-17 15:45] fuhton commented on #188
@RachelRVasquez PR submitted.

[2016-06-17 15:46] fuhton commented on #187
@RachelRVasquez PR Submitted.

[2016-06-17 15:46] fuhton commented on #212
@RachelRVasquez PR Submitted.

[2016-06-17 17:20] RachelRVasquez commented on #212
@fuhton Woops thought this was an issue for me. Disregard this PR: https://github.com/JDRF/design-system/pull/252

[2016-06-17 17:22] RachelRVasquez commented on #212
@fuhton Commented on PRs.

[2016-06-17 17:27] RachelRVasquez commented on #188
@fuhton Looked over PR #251 - looks like all the above issues are taken care of. Merged.

[2016-06-17 17:27] RachelRVasquez commented on #187
@fuhton Commented on PR #250

[2016-06-17 17:57] fuhton commented on #216
@RachelRVasquez PR submitted.

[2016-06-17 17:57] RachelRVasquez commented on #212
@fuhton Merged.

[2016-06-17 18:00] RachelRVasquez commented on #216
@fuhton Merged.

[2016-06-17 18:14] fuhton commented on #216
@jdrf-digitaldesigner This is ready for review.

[2016-06-17 18:14] fuhton commented on #212
@jdrf-digitaldesigner This is ready for review.

[2016-06-17 18:14] fuhton commented on #188
@jdrf-digitaldesigner This is ready for review.

[2016-06-17 18:14] fuhton commented on #187
@jdrf-digitaldesigner This is ready for review.

[2016-06-17 18:16] RachelRVasquez commented on #165
@pmmck @jdrf-digitaldesigner

Just wanted to clarify what the task is - we're removing the padding bottom for `.ds-card-block` on this specific card and we're ensuring all the `.ds-card-title` for all cards are a dark blue because they're not links. Otherwise if they are links, they'd be the lighter blue we see in Promotions?

[2016-06-17 18:51] jdrf-digitaldesigner commented on #216
Looks good, but can we please disregard my previous comment "Add white border to Outline Button Hover state" and revert to not having a stroke on Outline Button Hover state? Sorry about the confusion. Thx

[2016-06-17 18:53] jdrf-digitaldesigner commented on #188
Confirmed. Thx!

[2016-06-17 18:53] #188 closed

[2016-06-17 18:55] jdrf-digitaldesigner commented on #165
Correct on padding-bottom. But dark blue title only for this card. Thx

[2016-06-17 18:59] jdrf-digitaldesigner commented on #212
Confirmed. Thx!

[2016-06-17 18:59] #212 closed

[2016-06-17 19:01] fuhton commented on #216
Merged. @jdrf-digitaldesigner Please confirm.

[2016-06-17 19:17] jdrf-digitaldesigner commented on #216
Confirmed. Thx!

[2016-06-17 19:17] #216 closed

[2016-06-17 19:17] jdrf-digitaldesigner commented on #187
Confirmed. Thx!

[2016-06-17 19:17] #187 closed

[2016-06-17 19:31] pmmck commented on #119
LGTM thanks!

[2016-06-17 19:32] pmmck commented on #240
@fuhton yep!

[2016-06-17 19:32] #240 closed

[2016-06-17 19:38] pmmck commented on #208
@fuhton I'm fine with closing out this Issue.  However, color in the DS is going to require some more thought and conversation.  Ismael and I are discussing what the default button color should be, what the rules are in applying that color across different sites and how color is used in things like card titles, navigation, text links, etc.   Expect more work on Color in the backlog soon.  Thanks!

[2016-06-17 19:38] #208 closed

[2016-06-17 19:44] RachelRVasquez commented on #149
@fuhton Commented on the PR.

[2016-06-17 19:44] RachelRVasquez commented on #75
@fuhton Commented on the PR.

[2016-06-17 19:56] RachelRVasquez commented on #149
@fuhton Merged.

[2016-06-17 19:56] RachelRVasquez commented on #75
@fuhton Merged.

[2016-06-17 20:03] fuhton commented on #75
Merged. JS item has been added. Docs will need to be built out.

[2016-06-17 20:04] fuhton commented on #149
@pmmck Please confirm this is the correct order.

[2016-06-17 20:08] RachelRVasquez commented on #165
@jdrf-digitaldesigner Just removed the padding bottom on `.ds-card-block` locally for this card and I'm seeing the link buttons touching the bottom of the card. Let's keeping the padding on the `.ds-card-block` wrapping the buttons to prevent that from happening. Thoughts?

![screen shot 2016-06-17 at 4 04 52 pm](https://cloud.githubusercontent.com/assets/10246844/16163146/ad1f44e6-34a5-11e6-89d6-

[2016-06-17 20:14] RachelRVasquez commented on #165
@fuhton Title color updated globally. When links are placed within the card titles, they will turn the lighter blue.

https://github.com/JDRF/design-system/pull/255

Should we update some of the markup on some cards to reflect this as well?

[2016-06-17 20:58] jdrf-digitaldesigner commented on #165
@RachelRVasquez Please revert to last version with padding-bottom on card-block, as having the buttons touch the bottom edge of the card wouldn't be consistent with other card instances. Thx

[2016-06-17 21:10] fuhton commented on #165
Merged. @jdrf-digitaldesigner Please confirm.

[2016-06-17 21:16] jdrf-digitaldesigner commented on #165
Confirmed. Thx!

[2016-06-17 21:16] #165 closed

[2016-06-17 21:21] pmmck opened #256 "Update link from Colors page to new location of Download page"

[2016-06-20 13:34] pmmck commented on #149
@fuhton can we manually add each item into the menu?  I'd like to take the same approach Bootstrap does with prioritizing based on popularity / importance.

[2016-06-20 13:35] #75 closed

[2016-06-20 14:02] fuhton commented on #149
@pmmck That sounds smart. Should we follow the exact same hierarchy as v4 bootstrap?

[2016-06-20 16:23] pmmck commented on #119
@fuhton I realize now that I was only reviewing the code but the buttons are not the correct height in the docs.  Re-opening this issue.

[2016-06-20 18:11] fuhton commented on #119
@pmmck I'll need more context regarding this issue?

[2016-06-20 18:15] fuhton opened #257 "Badges font alignment"
I want to confirm that line-height is correct for all badges.

In Zeplin the font of the badge is not on the same line as the font of the containing element, but it seems to be that way in the implementation. I want to confirm this as correct?

<img width="565" alt="image 2016-06-20 at 2 12 58 pm" src="https://cloud.githubusercontent.com/assets/1857806/16205371/7efa99e6-36f1-11e6-9716-482e3596da01

[2016-06-20 19:07] jdrf-digitaldesigner commented on #257
The Badges in Zeplin were vertically aligned to the Label's Text Box, based on line height. I don't see it as an issue. @pmmck, your call. Thx

[2016-06-20 19:36] RachelRVasquez opened #258 "Add box shadow to image cap cards (image)"
Missing box shadow beneath the image for image cap cards from designs:

http://jdrf.github.io/design-system/dist/components.html#cards

![screen shot 2016-06-20 at 3 35 21 pm](https://cloud.githubusercontent.com/assets/10246844/16207733/be149400-36fc-11e6-8c26-9313ba185d41.png)

[2016-06-20 19:50] RachelRVasquez commented on #258
@fuhton PR submitted: https://github.com/JDRF/design-system/pull/259

[2016-06-20 20:09] fuhton commented on #258
Merged.

[2016-06-20 20:09] #258 closed

[2016-06-21 13:19] pmmck commented on #257
@fuhton @jdrf-digitaldesigner in Zeplin the badges are vertically centered within the line-height.  In the implementation, they are aligned to the baseline.  This looks fine at some sizes but not others.

![screen shot 2016-06-21 at 9 15 26 am](https://cloud.githubusercontent.com/assets/385391/16230674/b94428de-3790-11e6-9896-8c8c548c7c2e.png)

For the badges inside buttons, a -1px margin has been

[2016-06-21 13:23] pmmck commented on #149
Grid
Elevation

Color
Typography
Icons

Buttons
Forms
Cards
Side Navigation
Badges

[2016-06-21 13:36] pmmck commented on #119
@fuhton The large button with icon is 58px - it should be 48px.  The primary button is 50px - it should be 40px.  The small button is 42px - it should be 32px.

I'm not sure the current implementation is the best approach.

[code]

Do we really need both the `.btn-icon` applied to the button?  And then also the `.btn-has-icon-[size]`?

Also, it seems that in the button scss file there is both heig

[2016-06-21 17:22] fuhton commented on #119
@pmmck If you re-review this ticket, the set heights and additional class(es) are something we agreed upon and decided was the best way forward.

I'll re-review but I believe we can remove the `.btn-has-icon-[size]` class.

[2016-06-21 17:41] pmmck commented on #119
@fuhton having set heights as the outcome is absolutely something we want.  There should only be 3 heights for buttons: 32, 40, 48.

I was talking about what seems to be a mixed approach of declaring a pixel height and using padding.  I would prefer if the padding + line-height + etc = 32, 40, 48.   But perhaps that's just my own personal preference and if it's not the best approach here, I defer

[2016-06-23 17:26] RachelRVasquez commented on #257
@pmmck @jdrf-digitaldesigner

To clarify, the issue we're discussing is that the text inside the labels/badges aren't always on the same baseline as the content outside of it to the left?

So we want to ensure it's always on the baseline regardless of size? Is there an example where we're not seeing it line up? Here's a screenshot of the demo site:

![screen shot 2016-06-23 at 1 22 44 pm](https://

[2016-06-23 17:31] RachelRVasquez commented on #119
@pmmck @jdrf-digitaldesigner

To confirm what Patrick's saying, ideally you don't want to declare a fixed height on buttons as in `height: 40px` but to change the padding/line-height so that buttons are those heights naturally? And if so, if it means going against the Zeplin design specs for padding/line-height to get the desired heights - is that ok?

Just want to clarify the task again before ju

[2016-06-23 17:35] RachelRVasquez opened #260 "Re-structure Feature Card w/ Momentum Line for IE support"
Re-structure this card so the image can reach 100% based on the content even without `object-fit` in IE where it's not supported.

[2016-06-23 20:23] pmmck commented on #119
@RachelRVasquez

Where do you see a discrepancy in Zeplin?  This is an example of what I'm seeing where the total heights are equal to 32, 40, 48.

![screen shot 2016-06-23 at 4 22 43 pm](https://cloud.githubusercontent.com/assets/385391/16318852/d3233bb2-395e-11e6-9a63-6436ec7817b4.png)

cc @fuhton @jdrf-digitaldesigner

[2016-06-23 20:27] pmmck commented on #257
@RachelRVasquez My eyes are playing tricks on me.  You are correct!  Thanks.

[2016-06-23 20:27] #257 closed

[2016-06-23 20:44] RachelRVasquez commented on #260
@fuhton PRs submitted:

https://github.com/JDRF/design-system/pull/261

https://github.com/JDRF/design-system/pull/262

[2016-06-23 21:18] RachelRVasquez commented on #119
@pmmck Right now the buttons do match the Zeplin specs without the `.btn-has-icon-size` class, but we had to go against them due to heights. For the large button for example we have:

- 14px/14px for the font in Gotham Medium
- Padding in the button is 16px Top/Bottom and 24px Left/Right.

![screen shot 2016-06-23 at 4 57 27 pm](https://cloud.githubusercontent.com/assets/10246844/16320421/9217f9a8

[2016-06-23 21:32] pmmck commented on #119
@RachelRVasquez

Thanks, that makes sense.   Please ignore the padding in Zeplin and adjust accordingly so that the total heights equal 32, 40, 48px.  Many thanks!

@fuhton @jdrf-digitaldesigner

[2016-06-24 12:36] RachelRVasquez commented on #119
@fuhton PRs submitted with updates. Removed the `.btn-has-icon-size` classes/variables/styles and adjusted padding for buttons with icons/text to naturally be these heights.

https://github.com/JDRF/design-system/pull/263

https://github.com/JDRF/design-system/pull/264

[2016-06-24 14:08] fuhton commented on #119
@pmmck @jdrf-digitaldesigner This is ready for your review.

[2016-06-24 14:08] fuhton commented on #260
Merged

[2016-06-24 14:08] #260 closed

[2016-06-24 17:39] RachelRVasquez opened #265 "Padding adjustments to Momentum Line Feature Card"
Match paddings to Zeplin design so we can remove these styles in Promotions.

- In Promotions: Removed the padding bottom on .ds-card-block due to the padding bottom that comes from the WP text editor's P tags to match Zeplin.
- In Promotions: Changed the padding on .ds-card-header to 1rem top/bottom (16px) to match Zeplin.
- In Promotions: Changed the margin bottom of .ds-card-title to .5rem (8px

[2016-06-24 18:12] RachelRVasquez commented on #265
@fuhton PRs submitted:

https://github.com/JDRF/design-system/pull/266

https://github.com/JDRF/design-system/pull/267

I notice we don't account for social icons on the DS when compared to the Zeplin designs - how are we handling the padding that's usually applied via the icon area on mobile? Right now without those icons, the card appears like this on mobile with the changes (below the Details b

[2016-06-24 19:10] fuhton commented on #265
Merged

[2016-06-24 20:18] RachelRVasquez commented on #265
Forgot a margin-bottom change to `ds-card-subtitle`.

Will submit another PR for it.

[2016-06-24 20:31] RachelRVasquez commented on #265
@fuhton

PR for margin on subtitle for this card only:

https://github.com/JDRF/design-system/pull/268

[2016-06-27 12:19] fuhton commented on #265
Merged.

[2016-06-27 12:19] #265 closed

[2016-06-27 15:53] #119 closed

[2016-06-28 13:17] jdrf-digitaldesigner opened #269 "H3 Code Update"
Please update the H3 line-height property to 28px, to match the documentation. Thx

[2016-06-30 21:57] fuhton opened #270 "Remove Custom Select Box"
http://jdrf.github.io/design-system/dist/components.html#forms

[2016-07-01 14:50] RachelRVasquez commented on #270
@fuhton PR submitted:

https://github.com/JDRF/design-system/pull/273

[2016-07-12 15:42] #270 closed

[2016-07-21 14:40] RachelRVasquez opened #314 "Getting Started Documentation"
http://jdrf.github.io/design-system/dist/getting-started.html

There is some repetition in the "Fonts" section and the `@fontface` CSS to get the fonts working hasn't been documented.

It also looks like the "Javascript" section was either cut off (says "using javascript") or it needs content.

[2016-07-21 15:23] RachelRVasquez opened #315 "Address Form/Type"
There is no "address" type for inputs within the Address form sections. The "address" types can be changed to "text".

DS: http://jdrf.github.io/design-system/dist/components.html#forms

HTML Reference: http://html5doctor.com/html5-forms-input-types/

![screen shot 2016-07-21 at 11 22 20 am](https://cloud.githubusercontent.com/assets/10246844/17028407/7efcf6da-4f35-11e6-9ec8-11c0ba61a3b8.png)

[2016-08-01 14:04] pmmck opened #320 "Date misaligned in Promotions card"
![screen shot 2016-08-01 at 10 03 25 am](https://cloud.githubusercontent.com/assets/385391/17296434/4bcba3fe-57cf-11e6-8848-279a8a72534c.png)

[2016-08-01 14:23] pmmck opened #321 "Images should have a border radius of 0."
The image in the card with the Title and Subtitle has a 2px border radius.

![rounded corner on images](https://cloud.githubusercontent.com/assets/385391/17297058/028e259c-57d2-11e6-8d5d-6ad118a488a4.png)

[2016-08-01 14:57] pmmck opened #322 "Add font smoothing to improve the legibility of text"
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

![font smoothing](https://cloud.githubusercontent.com/assets/385391/17298143/bcebc698-57d6-11e6-8da1-b11c12e7fbd9.png)

[2016-08-02 20:09] fuhton commented on #320
@pmmck I'm not seeing this as an issue.

[2016-08-03 13:43] RachelRVasquez commented on #321
@pmmck Does this change only apply to this specific card or all cards that have "image caps" when they're on top?
![screen shot 2016-08-03 at 9 42 13 am](https://cloud.githubusercontent.com/assets/10246844/17367595/9788a496-595e-11e6-878d-e165772449f9.png)

[2016-08-03 14:07] fuhton commented on #322
@RachelRVasquez CR Approved and merged.

[2016-08-03 14:07] fuhton commented on #315
@RachelRVasquez CR Approved and merged.

[2016-08-03 18:24] pmmck opened #325 "Update padding on small buttons"
After using these buttons some more in layouts we've found that 8px horizontal padding is too tight.

We'd like to update the horizontal padding on small buttons to 12px.

[2016-08-03 18:25] pmmck commented on #321
@RachelRVasquez the top of the cards should always have a 2px border radius.  We do not want this to impact the appearance of the top of the card.

[2016-08-03 18:26] pmmck opened #326 "Update default button color to blue instead of green."

[2016-08-05 19:08] fuhton commented on #322
@pmmck This is ready for your review.

[2016-08-05 19:08] #320 closed

[2016-08-05 19:21] fuhton commented on #315
@pmmck This is ready for your review.

[2016-08-05 19:24] fuhton commented on #321
@pmmck This is ready for your review.

[2016-08-05 21:42] RachelRVasquez commented on #269
@jdrf-digitaldesigner It appears the H3 lineheight conforms the to the Zeplin design at 20px/24px for default and 24px/28px for breakpoints above "small". Can you confirm whether we're following the Zeplin designs and fixing the typo in the git documentation, or are we changing the line height from the original design?

cc: @fuhton

[2016-08-08 14:00] jdrf-digitaldesigner commented on #269
@RachelRVasquez We're actually sticking to what's in the Git documentation (line-height: 28px) and disregarding the Zeplin file, in this instance.

[2016-08-08 19:51] fuhton commented on #314
Merged.

[2016-08-08 19:54] fuhton commented on #326
@RachelRVasquez We've forgotten about badge coloring.

http://jdrf.github.io/design-system/dist/components.html

[2016-08-08 19:55] fuhton commented on #325
@pmmck This is ready for your review.

[2016-08-08 21:02] #314 closed

[2016-08-08 21:03] fuhton commented on #226
@pmmck This is ready for your review.

[2016-08-08 22:48] pmmck commented on #226
LGTM.

[2016-08-08 22:48] #226 closed

[2016-08-08 22:49] pmmck commented on #325
LGTM.

[2016-08-08 22:49] #325 closed

[2016-08-08 22:50] pmmck commented on #321
@fuhton this looks good to me.  Should I assign stuff back to you or just close out?

[2016-08-08 22:51] pmmck commented on #315
@fuhton what specifically am I looking for here?

[2016-08-08 23:04] pmmck commented on #322
@fuhton this looks good.  It now needs to be applied to Promotions: https://trello.com/c/JbLmydV0

[2016-08-09 13:12] fuhton commented on #322
@pmmck As we make adjustments, this will be included. If it's working as expected for this product, let's close the ticket.

[2016-08-09 13:12] fuhton commented on #321
@pmmck Feel free to close it out!

[2016-08-09 13:12] #321 closed

[2016-08-09 13:13] fuhton commented on #315
@pmmck Didn't realize this was an internal tweak. We've modified an input type in the github page.

[2016-08-09 13:13] #315 closed

[2016-08-09 15:49] fuhton commented on #269
@pmmck This is ready for your review.

[2016-08-09 15:50] fuhton commented on #326
@pmmck This is ready for review.

[2016-08-09 21:18] pmmck commented on #322
@fuhton looks good.

[2016-08-09 21:18] #322 closed

[2016-08-09 21:22] pmmck commented on #326
Looks good!

[2016-08-09 21:22] #326 closed

[2016-08-11 13:54] fuhton commented on #269
@pmmck @jdrf-digitaldesigner Have either of you had a chance to review this ticket?

[2016-08-11 17:15] jdrf-digitaldesigner commented on #269
@pmmck Looks good on my end.

[2016-08-11 17:50] #269 closed

[2016-08-15 21:15] fuhton commented on #149
@pmmck This has been pushed with the requested sorting.

[2016-08-15 22:07] #149 closed

[2016-08-16 13:35] pmmck opened #336 "Sub items in the side nav don't work"
When I click "Forms" in the side nav I expect to be taken to that section of the page.  On OS X Chrome nothing happens.  On OS X Firefox I am taken back to the top of the current page.

[2016-08-17 20:20] fuhton commented on #336
@pmmck This is now resolved. Please confirm.

[2016-08-17 22:03] #336 closed

[2016-08-22 16:28] briansaycocie opened #338 "Program Card - Possible style adjustments needed"
Hi @pmmck,

After reviewing the [Event Calendar mobile comps](https://app.zeplin.io/project.html#pid=55a514081c757ce422fceb60&sid=57aa430c829374a67ff97b52), I noticed a styling difference with the DS Program Card from the way it was originally built.

From the [Cards comp on Zeplin](https://app.zeplin.io/project.html#pid=55a514081c757ce422fceb60&sid=57508e86c15ddea54f4407b4), the card was built us

[2016-08-22 19:44] pmmck commented on #338
Hi @briansaycocie — the cards in Zeplin are correct.  Thanks!

[2016-08-23 18:59] briansaycocie commented on #338
Great thanks for the clarification. Closing out.

[2016-08-23 18:59] #338 closed

[2016-08-29 19:12] jdrf-digitaldesigner opened #339 "Forms - Input Fields: Update all input fields' height to 48px (currently 54px)"
![screen shot 2016-08-29 at 3 11 27 pm](https://cloud.githubusercontent.com/assets/19931482/18063909/01e9cb98-6dfb-11e6-81f7-bc206e27d0d3.png)

[2016-08-29 19:15] jdrf-digitaldesigner opened #340 "Forms - Field labels: Update font size to 15px"
![screen shot 2016-08-29 at 3 15 03 pm](https://cloud.githubusercontent.com/assets/19931482/18063993/6587a26a-6dfb-11e6-8373-0e61c6fd6a03.png)

[2016-08-29 19:17] jdrf-digitaldesigner opened #341 "Forms - Textarea: Update message field height to 144px"
![screen shot 2016-08-29 at 3 17 11 pm](https://cloud.githubusercontent.com/assets/19931482/18064065/af31f74e-6dfb-11e6-8676-1278bc6b3cfb.png)

[2016-08-29 19:21] jdrf-digitaldesigner opened #342 "Forms - Horizontal Checkboxes: Update spacing to 24px between options"
![screen shot 2016-08-29 at 3 20 55 pm](https://cloud.githubusercontent.com/assets/19931482/18064172/35f431e8-6dfc-11e6-9e3b-d3b93af15f00.png)

[2016-08-29 19:24] jdrf-digitaldesigner opened #343 "Forms - Checkboxes with error: Update spacing between first and second error message, and between second error message and first option to 16px"
![screen shot 2016-08-29 at 3 24 01 pm](https://cloud.githubusercontent.com/assets/19931482/18064278/a6f66884-6dfc-11e6-9e13-7e984e439195.png)

[2016-08-29 19:25] jdrf-digitaldesigner opened #344 "Forms - Success and Error icons: Update size to 24px"
![screen shot 2016-08-29 at 3 25 19 pm](https://cloud.githubusercontent.com/assets/19931482/18064306/d0fc2eca-6dfc-11e6-8897-12dcb03d94bd.png)

[2016-08-29 20:40] jdrf-digitaldesigner opened #345 "Forms - IE9: Disabled fields allow users to enter values"
![screen shot 2016-08-29 at 4 41 20 pm](https://cloud.githubusercontent.com/assets/19931482/18066700/7f928bdc-6e07-11e6-88f5-92a1c70a079b.png)

[2016-08-29 20:43] jdrf-digitaldesigner opened #346 "Forms - IE9 - Text Field & Hidden Labels: Hidden labels not showing"
![screen shot 2016-08-29 at 4 42 48 pm](https://cloud.githubusercontent.com/assets/19931482/18066750/babe322e-6e07-11e6-8e30-fcef1720abd1.png)

[2016-08-29 20:45] jdrf-digitaldesigner opened #347 "Forms - IE9 - Disabled fields: Field style and functionality not applied"
![screen shot 2016-08-29 at 4 42 48 pm](https://cloud.githubusercontent.com/assets/19931482/18066800/f23929ca-6e07-11e6-8245-7c01ac2fdff0.png)

[2016-08-29 20:45] jdrf-digitaldesigner opened #348 "Forms - IE9 - Hidden labels not appearing"

[2016-08-29 20:46] jdrf-digitaldesigner opened #349 "Forms - IE9 - Datefield: Form-control not showing"
![screen shot 2016-08-29 at 4 46 34 pm](https://cloud.githubusercontent.com/assets/19931482/18066852/2c11460a-6e08-11e6-872b-a051d17a561d.png)

[2016-08-29 20:47] jdrf-digitaldesigner opened #350 "Forms - Safari 9.1 - Datefields: From-control not showing"

[2016-08-30 18:27] jdrf-digitaldesigner opened #351 "Forms Plugin - Remove all bullets from input fields, placeholder text, labels and description copy"
<img width="213" alt="screen shot 2016-08-30 at 2 25 36 pm" src="https://cloud.githubusercontent.com/assets/19931482/18101749/ee8d3c1a-6ebd-11e6-9977-4d720aaa0d7a.png">

[2016-08-30 18:45] jdrf-digitaldesigner opened #352 "Forms Plugin - Placeholder/Input text: increase font size to 16px and update color to Grey 6 (#9E9E9E)"
<img width="217" alt="screen shot 2016-08-30 at 2 42 32 pm" src="https://cloud.githubusercontent.com/assets/19931482/18102388/69f2fbd6-6ec0-11e6-87ff-1ed57238f687.png">

[2016-08-30 18:47] jdrf-digitaldesigner opened #353 "Forms Plugin - Input fields' padding: Update to 12px (l,r) and 16px (t,b)"

[2016-08-30 18:52] jdrf-digitaldesigner opened #354 "Forms Plugin - Description/format copy: Update font size to 13px, and top margin to 4px"
<img width="247" alt="screen shot 2016-08-30 at 2 50 24 pm" src="https://cloud.githubusercontent.com/assets/19931482/18102625/2fb0eb9e-6ec1-11e6-9a21-e1fcad056f42.png">

[2016-08-30 18:56] jdrf-digitaldesigner opened #355 "Forms Plugin - All fields: Update border radius to 2px"

[2016-08-30 20:13] jdrf-digitaldesigner opened #356 "Forms Plugin - Text Area: Update background color to white"
<img width="526" alt="screen shot 2016-08-30 at 4 16 22 pm" src="https://cloud.githubusercontent.com/assets/19931482/18105378/266d8c48-6ecd-11e6-95bf-d4e867fe1dd4.png">

[2016-08-30 20:21] jdrf-digitaldesigner opened #357 "Forms Plugin - Checkbox: Update right margin/padding to 12px"
<img width="116" alt="screen shot 2016-08-30 at 4 19 21 pm" src="https://cloud.githubusercontent.com/assets/19931482/18105522/b17e86e8-6ecd-11e6-8a38-dd720f1a3abd.png">

[2016-08-30 20:22] jdrf-digitaldesigner opened #358 "Forms Plugin - Checkbox: Update title bottom margin/padding to 16px"
<img width="242" alt="screen shot 2016-08-30 at 4 21 32 pm" src="https://cloud.githubusercontent.com/assets/19931482/18105585/f4d6f9ca-6ecd-11e6-855c-cc6c954f6bc2.png">

[2016-08-30 20:26] jdrf-digitaldesigner opened #359 "Forms Plugin - Radio Buttons: Update bottom margin/padding to 12px"
<img width="223" alt="screen shot 2016-08-30 at 4 24 50 pm" src="https://cloud.githubusercontent.com/assets/19931482/18105720/7b0da732-6ece-11e6-9211-305a0de6fbe6.png">

[2016-08-30 21:00] jdrf-digitaldesigner opened #360 "Forms Plugin - Horizontal Checkboxes: Update margin to 24px"
<img width="336" alt="screen shot 2016-08-30 at 4 58 50 pm" src="https://cloud.githubusercontent.com/assets/19931482/18106805/354ad67a-6ed3-11e6-81b9-47d03f966f1b.png">

[2016-08-31 13:36] jdrf-digitaldesigner opened #361 "Forms Plugin - Filled+Valid states: Design System Filled and Valid states styling not applied"
![screen shot 2016-08-31 at 9 36 15 am](https://cloud.githubusercontent.com/assets/19931482/18130778/6427ab68-6f5e-11e6-9ebc-df81eb3fa17b.png)

[2016-08-31 13:54] jdrf-digitaldesigner opened #362 "Forms Plugin - Textarea: Right align "Optional" label"
![screen shot 2016-08-31 at 9 50 22 am](https://cloud.githubusercontent.com/assets/19931482/18131440/da884824-6f60-11e6-984e-a1ce73a8cf8e.png)

[2016-08-31 14:47] jdrf-digitaldesigner opened #363 "Forms Plugin - Telephone Field: Align cursor to left on focus"
![screen shot 2016-08-31 at 10 46 35 am](https://cloud.githubusercontent.com/assets/19931482/18133373/5b9f12ce-6f68-11e6-9863-165ac75681c5.png)

[2016-08-31 15:12] #351 closed

[2016-08-31 15:16] #352 closed

[2016-08-31 15:17] #353 closed

[2016-08-31 15:19] #354 closed

[2016-08-31 15:20] #355 closed

[2016-08-31 15:22] #356 closed

[2016-08-31 15:24] #357 closed

[2016-08-31 15:28] #359 closed

[2016-08-31 15:29] #360 closed

[2016-08-31 15:30] #361 closed

[2016-08-31 15:31] #362 closed

[2016-08-31 15:32] #363 closed

[2016-08-31 17:15] jdrf-digitaldesigner opened #364 "Forms - Checkboxes and Radio buttons options - Update font size to 15px"
![screen shot 2016-08-29 at 3 20 55 pm](https://cloud.githubusercontent.com/assets/19931482/18138907/f89c1b26-6f7c-11e6-9f2e-b5d0d70adc49.png)
<img width="116" alt="screen shot 2016-08-30 at 4 19 21 pm" src="https://cloud.githubusercontent.com/assets/19931482/18138918/031001e4-6f7d-11e6-8bd0-17c1aab7d8eb.png">

[2016-09-01 18:51] pmmck commented on #339
Input heights should match button heights.

[2016-09-01 18:52] pmmck commented on #340
This is an iteration from the initial design.

[2016-09-02 15:34] #364 closed

[2016-09-02 15:44] RachelRVasquez commented on #350
The date format seen in Chrome is not supported in all browsers:

http://v4-alpha.getbootstrap.com/components/forms/#textual-inputs

Instead we can use the "description" field to fill in any preferred formats. Thoughts @fuhton?

Screenshots of Chrome VS Safari when using the description field on the dashboard from the forms.

Chrome:
![screen shot 2016-09-02 at 11 42 19 am](https://cloud.githubuse

[2016-09-02 15:53] RachelRVasquez commented on #348
@jdrf-digitaldesigner Can you clarify what fields you're referring to in this ticket?

[2016-09-02 15:54] RachelRVasquez commented on #349
The date format seen in Chrome is not supported in all browsers:

http://v4-alpha.getbootstrap.com/components/forms/#textual-inputs

Instead we can use the "description" field to fill in any preferred formats. Thoughts @fuhton?

Screenshots of Chrome VS Safari when using the description field on the dashboard from the forms.

Chrome:
![screen shot 2016-09-02 at 11 42 19 am](https://cloud.githubuse

[2016-09-02 16:04] RachelRVasquez commented on #346
This works when applying the `.ds-sr-only` class to the label via the inspector. Salesforce currently does not offer the option to hide labels. Re-assigning to @fuhton for further feedback.

[2016-09-02 16:11] RachelRVasquez commented on #339
@pmmck This looks like a similar discrepancy that we had for the buttons between the browser and Zeplin's specs. Currently the top/bottom padding for fields match Zeplin and do not naturally match Zeplin's height in the browser. Are we okay to go against Zeplin specs and reduce padding to keep the fields at a natural height of 48px in browser?

cc: @fuhton

[2016-09-02 16:18] pmmck commented on #347
Placeholders are not supported in IE9.

[2016-09-02 16:18] #347 closed

[2016-09-02 16:22] jdrf-digitaldesigner commented on #348
@RachelRVasquez Just checked, and the hidden labels are now visible. Thx!

[2016-09-02 16:22] #348 closed

[2016-09-02 16:33] RachelRVasquez commented on #344
I've created a Trello ticket instead for this issue and will be continuing work/conversation there. Thanks!

[2016-09-02 16:34] RachelRVasquez commented on #343
I've created a duplicate of this issue in Trello instead. Will continue progress/conversation there.

[2016-09-02 16:35] RachelRVasquez commented on #342
Created a duplicate in Trello. Will continue progress/conversation there.

[2016-09-02 16:36] RachelRVasquez commented on #341
Created a duplicate in Trello. Will continue progress/conversation there.

[2016-09-02 16:37] RachelRVasquez commented on #340
Created a duplicate in Trello and will continue progress/conversation there.

[2016-09-02 16:40] #340 closed

[2016-09-02 16:40] #344 closed

[2016-09-02 16:40] #343 closed

[2016-09-02 16:40] #342 closed

[2016-09-02 16:40] #341 closed

[2016-09-02 19:02] pmmck commented on #339
@RachelRVasquez the fields in Zeplin are 48px tall, as far as I can see.   Sounds like you need to update the line-height or padding in the CSS to get them to match.  Thanks so much.

cc @fuhton

[2016-09-07 12:56] pmmck opened #373 "Badge section doesn't correspond with side nav"
The Badges section should move to the bottom of the Components view.

https://www.evernote.com/l/ABetFD_2UWBIRYCmw_blW7PmqiD7vfTl41s

[2016-09-07 16:20] pmmck commented on #339
@RachelRVasquez @fuhton following up here.

![zeplin input height](https://cloud.githubusercontent.com/assets/385391/18319744/10a22a12-74f5-11e6-8454-935e99088da6.png)

Here's a screenshot from Zeplin showing that the spec calls for a 16px input value, with a 16px line-height (single line inputs don't wrap) and 16px top and bottom padding.    That's 48px tall.

It looks like the current font size

[2016-09-07 16:54] fuhton commented on #345
@RachelRVasquez Thoughts on this?

[2016-09-07 16:54] fuhton commented on #339
@RachelRVasquez Thoughts on this?

[2016-09-07 17:30] RachelRVasquez commented on #345
@jdrf-digitaldesigner Can you provide a link to the issue on a page as well as how you're setting up the disabled field on the dashboard?

[2016-09-07 18:27] #350 closed

[2016-09-07 18:27] #349 closed

[2016-09-07 18:28] #346 closed

[2016-09-07 18:38] RachelRVasquez commented on #339
@pmmck @fuhton

I've corrected the font-size issue that was happening on one of the sites due to legacy styles. With the font-size change however, we will still have to reduce the padding on the inputs from their 16px 12px so the fields will naturally be 48px in the browser. Will create a duplicate of this ticket in Trello so we can move forward with that there. Thanks!

[2016-09-07 18:38] #339 closed

[2016-09-07 19:31] jdrf-digitaldesigner commented on #345
Hey @RachelRVasquez, this was accomplished by adding the class in the code, which is possible in BrowserStack, so I'll close the issue. Thx

[2016-09-07 19:31] #345 closed

[2016-09-21 13:59] fuhton commented on #373
@RachelRVasquez This is #1

[2016-09-21 13:59] fuhton commented on #76
@RachelRVasquez This is #2 .

[2016-09-21 14:02] fuhton commented on #45
@RachelRVasquez  This is #3 . I'd like to make it similar to the Bootstrap docs site as well with links directly to each HEADER (h1,h2,h3) section element - [Screenshot](https://cl.ly/3q31360f201B) - [Link](http://v4-alpha.getbootstrap.com/components/buttons/#examples)

[2016-09-21 14:03] fuhton commented on #147
@RachelRVasquez This is #4 . The navbar should collapse and display elements as full width. I know this was a feature we did away with at the beginning of the project, but now it's back.

[2016-09-21 14:24] fuhton commented on #158
@RachelRVasquez Do you have any new thoughts on this ticket? changed thoughts?

[2016-09-21 15:21] RachelRVasquez commented on #45
@fuhton Are we adding a "Contents" area above each component section the way Bootstrap does then? And then making every H3 within each component a jump link?

- Buttons - Component Level
-- Primary
-- Outline
-- Flat
etc.

This might be overkill depending on the headings within each component. I'd imagine for jump links to be efficient the way Bootstrap has it, we'd need to re-structure and that d

[2016-09-21 15:21] fuhton commented on #45
Let's just do the original suggestion.

On Wednesday, September 21, 2016, RachieVee <notifications@github.com>
wrote:

[2016-09-21 15:44] RachelRVasquez commented on #158
@fuhton @pmmck It's been a while since we've reviewed this so just to clarify - is our goal to ensure that any existing components from the DS have their variables in the DS stylesheet regardless of whether their values have changed from Bootstrap's defaults?

Right now our variables file is around 216 lines whereas Bootstrap's is around 638. It would seem like we've overwritten Bootstrap's variab

[2016-09-21 16:15] RachelRVasquez commented on #373
@fuhton Submitted a PR: https://github.com/JDRF/design-system/pull/375

[2016-09-21 17:40] RachelRVasquez commented on #76
@fuhton For this ticket, are we looking to fix IE10 bugs related to enabling flexbox along with finding some way to support or fallback in IE9? Due to JDRF's project history so far, from my experience, they've required IE9 so intentionally allowing crucial structures in the DS to break for a preference to flexbox doesn't seem like the best route to take with this. However, I'm open to thoughts and

[2016-09-21 17:59] RachelRVasquez commented on #147
@fuhton It looks like we've done some re-structuring since the beginning of the project. To enable collapsing, we'll have to re-structure it back. Meaning have it styled the way it is on mobile currently - but for desktop as well. Shall we proceed with the re-structure?

[2016-09-21 21:06] RachelRVasquez commented on #45
@fuhton PR submitted: https://github.com/JDRF/design-system/pull/376

[2016-09-21 21:39] RachelRVasquez commented on #76
@fuhton Spent a little more time looking into this. The problems we're encountering w/ flexbox seems to be an issue w/ how we've set up Fabricator vs Bootstrap itself. If we set `.ds-row` to `flex-wrap: nowrap;`, that seems to solve the problem except there's something else in our component's markup still breaking it. Currently investigating.

[2016-09-21 22:16] fuhton commented on #373
Merged and pushed.

[2016-09-21 22:17] fuhton commented on #147
@RachelRVasquez Yes!

[2016-09-21 22:17] fuhton commented on #76
Sounds good. Let me know what you find.

[2016-09-21 22:17] fuhton commented on #45
Merged and pushed.

[2016-09-22 04:06] RachelRVasquez commented on #76
@fuhton Resolved and tested across all major browsers and IE9-11. Looks like we were able to resolve it with some CSS troubleshooting.

https://github.com/JDRF/design-system/pull/377

[2016-09-22 04:08] RachelRVasquez commented on #45
@fuhton Are we putting this through any visual QA or can we just close out now that we've merged/pushed?

[2016-09-22 05:48] RachelRVasquez opened #378 "IE9 Console Error breaks scripts/Sidebar subnavs"
Noticed that there is a console error that may be interfering with the sidebar nav in IE9. We don't see the child pages in the subnav in IE9 only (screenshots below).

As for the rest, it's not immediately obvious until we've re-integrated a menu button to expand/collapse the sidebar menu on desktop, but the error will interfere with this as well ( once the PR is merged from https://github.com/JDR

[2016-09-22 05:53] RachelRVasquez commented on #147
@fuhton PR submitted:  https://github.com/JDRF/design-system/pull/379

The site will appear like this now with the re-structure (screenshot below).

![screen shot 2016-09-22 at 1 49 44 am](https://cloud.githubusercontent.com/assets/10246844/18738185/64ebf134-8067-11e6-8a3f-8eba5b5b1445.png)

[2016-09-22 06:16] RachelRVasquez commented on #378
It looks like Prism JS for the syntax highlighter does not support IE9:

https://github.com/PrismJS/prism/issues/987

There was a merge into Prism from the above thread, but when comparing the merge to the actual file in our node_modules folder for Prism JS, the code there doesn't match. Perhaps the npm version of prism is slightly out of date? I tried updating the npm version, but it looks like w

[2016-09-23 12:34] fuhton commented on #45
@RachelRVasquez I checked it locally. I'll assign to Patrick to get his confirmation.

[2016-09-23 12:54] fuhton commented on #76
@RachelRVasquez Merged and tested locally.

[2016-09-23 12:54] #76 closed

[2016-09-23 12:55] fuhton commented on #378
@RachelRVasquez Have we updated the version in `package.json`?

[2016-09-23 12:56] fuhton commented on #147
@RachelRVasquez There's a merge conflict now.

[2016-09-23 19:33] RachelRVasquez commented on #378
@fuhton Yes I've tried to update it but we're already using the latest version. I meant that something with the npm version doesn't match what's in the Prism JS from their site, in spite of the npm version being up to date.

[2016-09-23 20:48] RachelRVasquez commented on #147
@fuhton Conflicts have been resolved.

[2016-09-27 12:56] fuhton commented on #378
Let's talk about this some more @RachelRVasquez I'm curious what your solution is.

[2016-09-27 12:57] fuhton commented on #178
@RachelRVasquez Thoughts on this?

[2016-09-27 19:02] #373 closed

[2016-09-28 13:09] RachelRVasquez commented on #178
@fuhton Thinking this is do-able, but can be a bit tricky to "standardize" across several use cases. It sounds like we'd implement a mixin within the DS that we then attach several versions across classes that can be applied. The momentum line in the feature card is being created using the `:after` pseudo element but we need to be able to predict the markup. I think if we assume the link Patrick p

[2016-09-28 13:47] pmmck commented on #178
Thanks for thinking this through.  It sounds like we should hold off on adding this until we see more scenarios in which it's used.

@fuhton should we close this issue?

[2016-10-31 14:08] pmmck opened #382 "Labels overflow into form fields"
This appears to happen with both text input and select menus.

![labels overlapping](https://cloud.githubusercontent.com/assets/385391/19856920/f9750cd8-9f51-11e6-803b-667b021f826a.png)

https://secure3.convio.net/jdrf3dev/site/Donation2;jsessionid=00000000.app363a?idb=974189056&df_id=18647&FR_ID=6617&mfc_pref=T&PROXY_ID=10804197&PROXY_TYPE=20&18647.donation=form1&NONCE_TOKEN=1992F565FFF3383C864EA

[2016-11-04 11:06] noahcooper opened #383 "Custom selects' options are white on white on Windows"
In /src/scss/_custom-forms.scss, `.c-select` is set to `color: transparent`. This results in selects' options appearing to be white on white when opened. The option text is only visible when selected.

It looks like this only happens on Windows -- Mac seems to ignore the transparent color declaration.

[2016-11-15 17:58] briansaycocie commented on #383
Thanks for finding that issue @noahcooper. I can confirm the issue exists in Chrome v54 - Windows 10.

I've just submitted a PR to resolve the issue. It appears the `color: transparent` _and_ `text-shadow: 0 0 0 #000` was added to resolve a specific Firefox issue displaying a focused dotted outline. I've moved those styles into a `:-moz-focusring` pseudo selector so it's only applied to Firefox.

[2016-11-15 17:58] #383 closed

[2016-11-15 19:43] briansaycocie opened #385 "Bootstrap v4's Labels component no longer exists"
When the [DS Badge's component](https://jdrf.github.io/design-system/dist/components.html#05-badges) was built, it was based on [Bootstrap v4 Label's component](https://v4-alpha.getbootstrap.com/components/label/) which I come to find out, no longer exists as of `v4.0.0-alpha.3` (current implementation is based on `v4.0.0-alpha.2`). This component has been replaced with the [Tag's component](https

[2016-11-28 19:59] pmmck commented on #385
@briansaycocie thanks for catching this.  I've opened a ticket: https://trello.com/c/XRQkyjvn

[2016-11-30 19:54] pmmck opened #389 "Versioning"
@mrbobbybryant @fuhton Noah,

I'd like to combine the convo I'm having with Noah over email and Bobby over Trello into Github.

This was Noah's latest comment:

Thoughts?

[2016-11-30 19:59] pmmck commented on #389
We will need an alternative way to consume changes without relying on a build process because JDRF works with vendor's with all levels of developer ability and platform limitations.

[2016-12-02 16:17] mrbobbybryant commented on #389
@pmmck Talking with Nick the plan was to always be using semantic versioning. http://semver.org/

So for example the latest changes to the library were minor bug fixes and admin tasks, so that was handled with a Patch version.

When we add in the new Date Mask, that will be a new feature that DOES NOT contain any breaking changes. That would be a Minor Release. i.e. 0.0.2 would become 0.1.0.

Plea

[2016-12-02 16:26] mrbobbybryant commented on #385
We have decided to lock in the current version of bootstrap so that future changes will not break existing features. Thanks @briansaycocie for pointing out this issue.

This was fixed by the following pull request.
https://github.com/JDRF/design-system/pull/390

[2016-12-02 16:26] #385 closed

[2016-12-07 19:23] mrbobbybryant opened #392 "Compatibility issues between the Design System and Gravity Forms"
We have found a compatibility issue between DS and GF. Since both components load their own version of jQuery, it causes a number of JS errors. These errors prevent Gravity Forms which contain conditional logic from displaying on the page.

[2016-12-08 15:51] pmmck commented on #382
Append a Red asterisk for required or "(Optional)" text at the end of the label instead of floating the text at the end of the field. With this approach, no stacking is needed on mobile.

Zeplin for exact specs of the asterisk and optional text: https://zpl.io/ZfxOcw

NOTE: The DS HTML has the label element below the field and moved into place with absolute positioning. The order of the HTML can n

[2017-01-12 15:38] noahcooper opened #395 "design system JS includes jQuery"
In Luminate Online, we already include jQuery separately from the design system. After jQuery is included, we use `$.noConflict()` to release `$`, since there are a handful of places where we still use prototype.js. Including jQuery in the design system gives `$` back to jQuery, breaking anything that uses prototype.js.

Can we either remove jQuery from the design system and have it be included se